In [2]:
import pandas as pd

In [ ]:
'''
БАГ:
ТУТ year_no у МАГИСТРОВ m1,  а раньше был просто номер года
'''

In [9]:

candidates_conv_1_3 = pd.read_csv('ssmm_candidates_info_conv_1_3.csv', sep='\t', encoding='utf-8')
# candidates_conv_1_3['year_stream_no'] = candidates_conv_1_3[['year_no','stream_no']].apply(lambda x,y: year_stream_no_by_year_stream(x,y))
candidates_conv_1_3 = candidates_conv_1_3[['name','convocation_no','year_stream_no','year_no','stream_no','academic_group_no','program_txt','link']]
candidates_conv_1_3.head()

,name,convocation_no,year_stream_no,year_no,stream_no,academic_group_no,program_txt,link
0,Левин Андрей,1,1.1,1,1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953
1,Матвеев Дмитрий,1,1.1,1,1,101.0,NaN,https://vk.com/topic-33327655_26089953
2,Власов Артем,1,1.2,1,2,107.0,NaN,https://vk.com/topic-33327655_26089953
3,Кириллова Полина,1,1.2,1,2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953
4,Семенов Павел,1,1.2,1,2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953

In [8]:
def conv_no_by_year(year):
    if year >= 2013:
        return year-2010
    else:
        return -1

candidates_conv_4_11 = pd.read_csv('ssmm_candidates_info_conv_4_11.csv', sep='\t', encoding='utf-8')
candidates_conv_4_11['convocation_no'] = candidates_conv_4_11['link_year_no'].apply(lambda x: conv_no_by_year(x))
candidates_conv_4_11 = candidates_conv_4_11[['name','convocation_no','year_stream_no','year_no','stream_no','academic_group_no','program_txt','link']]
candidates_conv_4_11.head()

,name,convocation_no,year_stream_no,year_no,stream_no,academic_group_no,program_txt,link
0,Суркова Анастасия Юрьевна,4,2.2,2,2,209.0,"«Подавая заявку в прошлом году в студсовет, яв...",https://vk.com/wall-33327655_2202
1,Денисов Илья Олегович,4,2.2,2,2,207.0,"«Вечер добрый, коллеги!\nЯ бы хотел подать зая...",https://vk.com/wall-33327655_2202
2,Тюрина Татьяна Игоревна,4,2.2,2,2,209.0,«Уже во второй раз избираюсь в студенческий со...,https://vk.com/wall-33327655_2202
3,Дорман Елена Вячеславовна,4,2.3,2,3,226.0,"«По моему мнению, за прошедший год я не плохо ...",https://vk.com/wall-33327655_2203
4,Оськин Александр Андреевич,4,2.3,2,3,225.0,«Прежде всего здравствуйте:)\nНа протяжении по...,https://vk.com/wall-33327655_2203

In [10]:
list_of_df = [candidates_conv_1_3,candidates_conv_4_11]
candidates_conv_1_11 = pd.concat(list_of_df).reset_index().drop(['index'], axis=1)
candidates_conv_1_11

,name,convocation_no,year_stream_no,year_no,stream_no,academic_group_no,program_txt,link
0,Левин Андрей,1,1.1,1,1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953
1,Матвеев Дмитрий,1,1.1,1,1,101.0,NaN,https://vk.com/topic-33327655_26089953
2,Власов Артем,1,1.2,1,2,107.0,NaN,https://vk.com/topic-33327655_26089953
3,Кириллова Полина,1,1.2,1,2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953
4,Семенов Павел,1,1.2,1,2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953
...,...,...,...,...,...,...,...,...
516,Терехов Михаил Сергеевич,11,6.1,6,1,602.0,За правду!,https://vk.com/wall-33327655_9978
517,Поликарпов Александр Валерьевич,11,6.3,6,3,621.0,Был одним из основателей бегового клуба MSU RU...,https://vk.com/wall-33327655_9982
518,Каляев Тимур Джанбулатович,11,m1,1,0,NaN,"Всем привет! Я только недавно на мехмате, но х...",https://vk.com/wall-33327655_9983
519,Маммагаджиев Руслан Гаджимагомедович,11,m1,1,0,NaN,Долгое время был пикчером профкома мехмата. Се...,https://vk.com/wall-33327655_9983
520,Третьякова Екатерина Алексеевна,11,m1,1,0,NaN,Я как человек с немалым опытом в делах организ...,https://vk.com/wall-33327655_9983

In [ ]:
candidates_conv_1_11.to_csv('ssmm_candidates_info_conv_1_3.csv', sep='\t', encoding='utf-8', index=False)