In [2]:
import pandas as pd

In [ ]:
'''
БАГ:
ТУТ year_no у МАГИСТРОВ m1,  а раньше был просто номер года
'''

In [30]:

candidates_conv_1_3 = pd.read_csv('ssmm_candidates_info_conv_1_3.csv', sep='\t', encoding='utf-8')
# candidates_conv_1_3['year_stream_no'] = candidates_conv_1_3[['year_no','stream_no']].apply(lambda x,y: year_stream_no_by_year_stream(x,y))
candidates_conv_1_3 = candidates_conv_1_3[['name','convocation_no','year_stream_no','year_no','stream_no','academic_group_no','program_txt','link']]
candidates_conv_1_3.head()

,name,convocation_no,year_stream_no,year_no,stream_no,academic_group_no,program_txt,link
0,Левин Андрей,1,1.1,1,1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953
1,Матвеев Дмитрий Александрович,1,1.1,1,1,101.0,NaN,https://vk.com/topic-33327655_26089953
2,Власов Артем Андреевич,1,1.2,1,2,107.0,NaN,https://vk.com/topic-33327655_26089953
3,Кириллова Полина,1,1.2,1,2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953
4,Семенов Павел,1,1.2,1,2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953

In [37]:
def conv_no_by_year(year):
    if year >= 2013:
        return year-2010
    else:
        return -1

candidates_conv_4_11 = pd.read_csv('ssmm_candidates_info_conv_4_11.csv', sep='\t', encoding='utf-8')
candidates_conv_4_11['convocation_no'] = candidates_conv_4_11['link_year_no'].apply(lambda x: conv_no_by_year(x))
candidates_conv_4_11 = candidates_conv_4_11[['name','convocation_no','year_stream_no','year_no','stream_no','academic_group_no','program_txt','link']]
candidates_conv_4_11.head()

,name,convocation_no,year_stream_no,year_no,stream_no,academic_group_no,program_txt,link
0,Суркова Анастасия Юрьевна,4,2.2,2,2,209.0,"«Подавая заявку в прошлом году в студсовет, яв...",https://vk.com/wall-33327655_2202
1,Денисов Илья Олегович,4,2.2,2,2,207.0,"«Вечер добрый, коллеги!\nЯ бы хотел подать зая...",https://vk.com/wall-33327655_2202
2,Тюрина Татьяна Игоревна,4,2.2,2,2,209.0,«Уже во второй раз избираюсь в студенческий со...,https://vk.com/wall-33327655_2202
3,Дорман Елена Вячеславовна,4,2.3,2,3,226.0,"«По моему мнению, за прошедший год я не плохо ...",https://vk.com/wall-33327655_2203
4,Оськин Александр Андреевич,4,2.3,2,3,225.0,«Прежде всего здравствуйте:)\nНа протяжении по...,https://vk.com/wall-33327655_2203

In [38]:
list_of_df = [candidates_conv_1_3,candidates_conv_4_11]
candidates_conv_1_11 = pd.concat(list_of_df).reset_index().drop(['index'], axis=1)
candidates_conv_1_11

,name,convocation_no,year_stream_no,year_no,stream_no,academic_group_no,program_txt,link
0,Левин Андрей,1,1.1,1,1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953
1,Матвеев Дмитрий Александрович,1,1.1,1,1,101.0,NaN,https://vk.com/topic-33327655_26089953
2,Власов Артем Андреевич,1,1.2,1,2,107.0,NaN,https://vk.com/topic-33327655_26089953
3,Кириллова Полина,1,1.2,1,2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953
4,Семенов Павел,1,1.2,1,2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953
...,...,...,...,...,...,...,...,...
516,Терехов Михаил Сергеевич,11,6.1,6,1,602.0,За правду!,https://vk.com/wall-33327655_9978
517,Поликарпов Александр Валерьевич,11,6.3,6,3,621.0,Был одним из основателей бегового клуба MSU RU...,https://vk.com/wall-33327655_9982
518,Каляев Тимур Джанбулатович,11,m1,1,0,NaN,"Всем привет! Я только недавно на мехмате, но х...",https://vk.com/wall-33327655_9983
519,Маммагаджиев Руслан Гаджимагомедович,11,m1,1,0,NaN,Долгое время был пикчером профкома мехмата. Се...,https://vk.com/wall-33327655_9983
520,Третьякова Екатерина Алексеевна,11,m1,1,0,NaN,Я как человек с немалым опытом в делах организ...,https://vk.com/wall-33327655_9983

In [39]:
candidates_conv_1_11.to_csv('ssmm_candidates_info_conv_1_11.csv', sep='\t', encoding='utf-8', index=False)

In [ ]:
# ОСТАЛОСЬ ОБРАБОТАТЬ РЕЗУЛЬТАТЫ ВЫБОРОВ В 1-3 СОЗЫВАХ И ДОБАВИТЬ ИМЕНА ОТТУДА НА МЭТЧИНГ

In [46]:

ssmm_results_conv_1 = pd.read_csv('ssmm_votes_info_conv_1.csv', sep='\t', encoding='utf-8')
ssmm_results_conv_4_11 = pd.read_csv('ssmm_votes_info_conv_4_11.csv', sep='\t', encoding='utf-8')

In [44]:
ssmm_results_conv_1.head()

,name,convocation_no,year_no,stream_no,academic_group_no,votes_cnt,elected_flg
0,Матвеев Дмитрий Александрович,1,1,1,101.0,49,1.0
1,Левин Андрей,1,1,1,101.0,48,1.0
2,Кириллова Полина,1,1,2,112.0,40,1.0
3,Власов Артем Андреевич,1,1,2,107.0,36,1.0
4,Кузнецова Алёна,1,1,2,112.0,28,1.0

In [45]:
ssmm_results_conv_4_11.head()

,link,year_x_year_stream,link_date,link_year_no,link_month_no,link_day_no,link_time,year_stream_no,year_no,stream_no,stream_size,voted_cnt,invalid_cnt,NOTA_cnt,organizers
0,https://vk.com/wall-33327655_2250,2014_1.1,2014-11-21,2014,11,21,22:15,1.1,1,1,166,129,10,5,"['Ильёй Денисовым', 'Анастасией Сурковой']"
1,https://vk.com/wall-33327655_2252,2014_1.2,2014-11-21,2014,11,21,22:25,1.2,1,2,136,95,4,6,"['Ираклием Глунчадзе', 'Анастасией Сурковой']"
2,https://vk.com/wall-33327655_2254,2014_1.3,2014-11-21,2014,11,21,22:35,1.3,1,3,138,83,1,2,"['Ираклием Глунчадзе', 'Анастасией Савченко']"
3,https://vk.com/wall-33327655_2329,2014_2.1,2014-11-27,2014,11,27,23:15,2.1,2,1,135,89,1,1,"['Ираклием Глунчадзе', 'Анастасией Сурковой']"
4,https://vk.com/wall-33327655_2215,2014_2.2,2014-11-17,2014,11,17,21:06,2.2,2,2,135,87,0,7,['Глунчадзе Ираклием']

In [15]:
def levenshtein(s1, s2):
    if len(s1) < len(s2):
        return levenshtein(s2, s1)

    # len(s1) >= len(s2)
    if len(s2) == 0:
        return len(s1)

    previous_row = range(len(s2) + 1)
    for i, c1 in enumerate(s1):
        current_row = [i + 1]
        for j, c2 in enumerate(s2):
            insertions = previous_row[j + 1] + 1 # j+1 instead of j since previous_row and current_row are one character longer
            deletions = current_row[j] + 1       # than s2
            substitutions = previous_row[j] + (c1 != c2)
            current_row.append(min(insertions, deletions, substitutions))
        previous_row = current_row
    
    return previous_row[-1]

string1 = "abc"
string2 = "aef"

print(levenshtein(string1, string2))

2

In [40]:
names = list(candidates_conv_1_11['name'])

from collections import Counter

names_stat = Counter(names) #.most_common()
# names_stat

# names_uniq = list(set(names))
# names_uniq

In [34]:
# выявляем похожие имена, чтобы потом заменить РУКАМИ

for a in names_stat.keys():
    for b in names_stat.keys():
        if a != b and levenshtein(a, b) <= 4 and names_stat[a] >= names_stat[b]:
            print(levenshtein(a, b), ' - ', a, names_stat[a], ' : ', names_stat[b], b)

In [41]:
# выявляем имена без отчества, чтобы потом заменить РУКАМИ

for a in names_stat.keys():
    for b in names_stat.keys():
        if len(a) > len(b) and levenshtein(a[:len(b)], b) <= 4:
            print(a, names_stat[a], ' : ', names_stat[b], b)

Семенюк Павел Игоревич 2  :  1 Семенов Павел
Белан Андрей Владимирович 1  :  1 Левин Андрей

In [42]:
# выявляем имена с перепутанными отчествами, чтобы потом заменить РУКАМИ

for a in names_stat.keys():
    for b in names_stat.keys():
        if a != b and levenshtein(a[:12], b[:12]) <= 2 and names_stat[a] >= names_stat[b]:
            print(a, names_stat[a], ' : ', names_stat[b], b)

# Сакаев Роберт Марселевич 5  :  1 Сакаев Роберт Викторович

Коновалов Антон Александрович 2  :  1 Коновалов Дмитрий Игоревич
Семенюк Павел Игоревич 2  :  1 Семенов Павел
Порфирьева Наталия Алексеевна 1  :  1 Перфильева Нелли Андреевна
Федотов Константин Алексеевич 1  :  1 Фёдоров Константин Дмитриевич
Алиев Рамиль Камиль Оглы 1  :  1 Алеев Дамиль Павлович
Перфильева Нелли Андреевна 1  :  1 Порфирьева Наталия Алексеевна
Фёдоров Константин Дмитриевич 1  :  1 Федотов Константин Алексеевич
Третьяков Пётр Максимович 3  :  2 Третьяков Артём Алексеевич
Саметов Максим Алексеевич 2  :  1 Савелов Максим Павлович
Лобанова Алёна Валерьевна 3  :  1 Лобанова Анастасия Алексеевна
Алеев Дамиль Павлович 1  :  1 Алиев Рамиль Камиль Оглы