In [1]:
'''
создаем большую таблицу ssmm_candidates_core с атрибутами кандидатов:
- ssmm_id, member_id
- номера созывов
- курсы членства
- итд

'''

In [17]:
import pandas as pd
import numpy as np

In [7]:
ssmm_candidates_1_11 = pd.read_csv('../library: main/ssmm_elections_candidates_1_11.csv', sep='\t', encoding='utf-8')
ssmm_candidates_1_11.head()

,conv_x_name,name,convocation_no,year_stream_no,academic_group_no,program_txt,announcement_link,announcement_dttm,votes_cnt,elected_flg,result_link,result_dttm,appearance_dttm
0,1_Левин_Андрей,Левин Андрей,1,1.1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,48.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
1,1_Матвеев_Дмитрий_Александрович,Матвеев Дмитрий Александрович,1,1.1,101.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,49.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
2,1_Власов_Артем_Андреевич,Власов Артем Андреевич,1,1.2,107.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,36.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
3,1_Кириллова_Полина,Кириллова Полина,1,1.2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,40.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
4,1_Семенов_Павел,Семенов Павел,1,1.2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,20.0,0,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00

## To create table with SSMM_ID

In [4]:
# СТЕРЖНЕВАЯ ТАБЛИЦА КАНДИДАТОВ С ПОРЯДКОВЫМ ssmm_id

# упорядочивание по времени первого появления, при равенстве - по ФИО
full_min_dttm = ssmm_candidates_1_11.groupby(['name']).agg({'appearance_dttm': ['min','max']}).reset_index()
full_min_dttm.columns = ['_'.join(col[::-1]) for col in full_min_dttm.columns.values]
full_min_dttm = full_min_dttm.rename(columns={'_name':'name'}).sort_values(['min_appearance_dttm', 'name'],
              ascending = [True, True]).reset_index().drop(['index'], axis=1)

# full_min_dttm


full_min_dttm['index'] = np.arange(full_min_dttm.shape[0])
full_min_dttm['ssmm_id'] = full_min_dttm['index'].apply(lambda x: x+1)
ssmm_candidates_core = full_min_dttm.drop(['index'], axis=1)
ssmm_candidates_core = ssmm_candidates_core[['ssmm_id', 'name', 'min_appearance_dttm', 'max_appearance_dttm']].rename(columns={'name':'candidate_name','min_appearance_dttm':'first_appearance_dttm','max_appearance_dttm':'last_appearance_dttm'})

ssmm_candidates_core
# ssmm_candidates_core[:60]

,ssmm_id,candidate_name,first_appearance_dttm,last_appearance_dttm
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00
...,...,...,...,...
315,316,Уваров Андрей Михайлович,2021-10-15 11:11:00,2021-10-15 11:11:00
316,317,Поликарпов Александр Валерьевич,2021-10-16 10:50:00,2021-10-16 10:50:00
317,318,Каляев Тимур Джанбулатович,2021-10-16 11:20:00,2021-10-16 11:20:00
318,319,Маммагаджиев Руслан Гаджимагомедович,2021-10-16 11:20:00,2021-10-16 11:20:00
319,320,Третьякова Екатерина Алексеевна,2021-10-16 11:20:00,2021-10-16 11:20:00

In [5]:
ssmm_candidates_core.to_csv('ssmm_candidates_core.csv', sep='\t', encoding='utf-8', index=False)
ssmm_candidates_core.to_csv('../library: main/ssmm_candidates_core.csv', sep='\t', encoding='utf-8', index=False)

In [6]:
# member_id - номер кандидата в порядке избрания в члены

temd_df = ssmm_candidates_1_11
elected_min_dttm = temd_df[temd_df['elected_flg'] == 1].groupby(['name']).agg({"result_dttm": "min"}).reset_index().sort_values(['result_dttm', 'name'],
              ascending = [True, True]).reset_index().drop(['index'], axis=1)

elected_min_dttm['index'] = np.arange(elected_min_dttm.shape[0])
elected_min_dttm['member_id'] = elected_min_dttm['index'].apply(lambda x: x+1)
ssmm_members_core = elected_min_dttm.drop(['index'], axis=1)
ssmm_members_core = ssmm_members_core[['member_id', 'name', 'result_dttm']].rename(columns={'name':'member_name','result_dttm':'first_result_dttm'})

# ssmm_members_core
ssmm_members_core #[:30]

     member_id                           member_name    first_result_dttm
0            1               Аканаев Тимур Рашитович  2012-02-28 22:34:00
1            2             Асташов Дмитрий Сергеевич  2012-02-28 22:34:00
2            3              Гильманов Роман Павлович  2012-02-28 22:34:00
3            4                Глухова Алёна Олеговна  2012-02-28 22:34:00
4            5         Костицын Александр Алексеевич  2012-02-28 22:34:00
..         ...                                   ...                  ...
258        259            Каляев Тимур Джанбулатович  2021-10-20 20:21:00
259        260  Маммагаджиев Руслан Гаджимагомедович  2021-10-20 20:21:00
260        261       Третьякова Екатерина Алексеевна  2021-10-20 20:21:00
261        262              Терехов Михаил Сергеевич  2021-10-21 15:44:00
262        263       Поликарпов Александр Валерьевич  2021-10-21 22:02:00

[263 rows x 3 columns]

In [38]:
ssmm_candidates_core_1 = ssmm_candidates_core.merge(ssmm_members_core, left_on='candidate_name', right_on='member_name', how='left').rename(columns={'candidate_name':'name'}).drop(['member_name'],axis=1)
ssmm_candidates_core_1['elected_flg'] = ssmm_candidates_core_1['member_id'].fillna(0).apply(lambda x: np.sign(x))
ssmm_candidates_core_1['elected_flg'] = ssmm_candidates_core_1['elected_flg'].apply(lambda x: int(x))

ssmm_candidates_core_1.head(20)

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1
5,6,Самонов Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,15.0,2012-03-07 02:03:00,1
6,7,Сапунов Кирилл Вячеславович,2012-02-25 23:16:00,2013-11-17 14:21:00,16.0,2012-03-07 02:03:00,1
7,8,Тропин Александр Михайлович,2012-02-25 23:16:00,2016-10-23 20:18:00,17.0,2012-03-07 02:03:00,1
8,9,Аканаев Тимур Рашитович,2012-02-25 23:49:00,2012-02-25 23:49:00,1.0,2012-02-28 22:34:00,1
9,10,Асташов Дмитрий Сергеевич,2012-02-25 23:49:00,2012-11-04 22:31:00,2.0,2012-02-28 22:34:00,1
10,11,Валиев Зураб Владимирович,2012-02-25 23:49:00,2012-02-25 23:49:00,NaN,NaN,0
11,12,Гильманов Роман Павлович,2012-02-25 23:49:00,2012-02-25 23:49:00,3.0,2012-02-28 22:34:00,1
12,13,Глухова Алёна Олеговна,2012-02-25 23:49:00,2012-02-25 23:49:00,4.0,2012-02-28 22:34:00,1
13,14,Костицын Александр Алексеевич,2012-02-25 23:49:00,2012-11-04 22:31:00,5.0,2012-02-28 22:34:00,1
14,15,Матвеев Алексей Викторович,2012-02-25 23:49:00,2014-11-18 23:45:00,6.0,2012-02-28 22:34:00,1
15,16,Оджаев Рахмет Курбандурдыевич,2012-02-25 23:49:00,2014-11-20 00:04:00,53.0,2012-11-19 16:13:00,1
16,17,Осин Руслан Владимирович,2012-02-25 23:49:00,2013-11-17 14:24:00,7.0,2012-02-28 22:34:00,1
17,18,Харлашин Владимир Сергеевич,2012-02-25 23:49:00,2012-02-25 23:49:00,8.0,2012-02-28 22:34:00,1
18,19,Шариков Алексей Анатольевич,2012-02-25 23:49:00,2013-11-17 14:24:00,9.0,2012-02-28 22:34:00,1
19,20,Абдуллаева Эмилия Табриз кызы,2012-02-25 23:52:00,2012-11-04 22:32:00,18.0,2012-03-07 18:55:00,1

## ФЛАГИ КАНДИДАТОВ

In [18]:
# флаги о членстве
# - сколько раз избирался
# - первый созыв
# - последний созыв
# - список созывов

temd_df = ssmm_candidates_1_11
ssmm_members_x_conv = temd_df[temd_df['elected_flg'] == 1].sort_values(['convocation_no'],
              ascending = [True]).reset_index().drop(['index'], axis=1)

ssmm_members_conv = ssmm_members_x_conv.groupby('name').agg({'convocation_no':['min','max', lambda x: list(x), lambda x: len(list(x))]}) 

ssmm_members_conv.columns = ['_'.join(col[::-1]) for col in ssmm_members_conv.columns.values]
ssmm_members_conv = ssmm_members_conv.reset_index().rename(columns={'<lambda_0>_convocation_no':'convocation_list','<lambda_1>_convocation_no':'convocation_cnt'})
ssmm_members_conv = ssmm_members_conv.sort_values(['convocation_cnt', 'min_convocation_no'],
              ascending = [False, True]).reset_index().drop(['index'], axis=1)
ssmm_members_conv[:60]

,name,min_convocation_no,max_convocation_no,convocation_list,convocation_cnt
0,Денисов Илья Олегович,3,8,"[3, 4, 5, 6, 7, 8]",6
1,Краснова Анастасия Александровна,4,9,"[4, 5, 6, 7, 8, 9]",6
2,Муравьёва Анна Сергеевна,4,9,"[4, 5, 6, 7, 8, 9]",6
3,Мазитова Вероника Рустэмовна,6,11,"[6, 7, 8, 9, 10, 11]",6
4,Матвеев Дмитрий Александрович,1,5,"[1, 2, 3, 4, 5]",5
5,Остроухова Наталья Владимировна,2,6,"[2, 3, 4, 5, 6]",5
6,Савченко Анастасия Игоревна,3,7,"[3, 4, 5, 6, 7]",5
7,Малахов Николай Сергеевич,6,10,"[6, 7, 8, 9, 10]",5
8,Малиновский Георгий Андреевич,7,11,"[7, 8, 9, 10, 11]",5
9,Матвеев Алексей Викторович,1,4,"[1, 2, 3, 4]",4
10,Морозов Сергей Сергеевич,2,5,"[2, 3, 4, 5]",4
11,Глунчадзе Ираклий Вахтангович,3,6,"[3, 4, 5, 6]",4
12,Суркова Анастасия Юрьевна,3,6,"[3, 4, 5, 6]",4
13,Бекбулатов Рамзан Ломалиевич,4,7,"[4, 5, 6, 7]",4
14,Змиевский Леонид Вячеславович,4,7,"[4, 5, 6, 7]",4
15,Сенотов Валерий Дмитриевич,6,9,"[6, 7, 8, 9]",4
16,Кухарчук Иван Андреевич,7,10,"[7, 8, 9, 10]",4
17,Фиткович Валерия Владимировна,7,10,"[7, 8, 9, 10]",4
18,Хахова Мария Алексеевна,7,10,"[7, 8, 9, 10]",4
19,Клюев Андрей Игоревич,8,11,"[8, 9, 10, 11]",4
20,Владыкина Вероника Евгеньевна,1,3,"[1, 2, 3]",3
21,Осин Руслан Владимирович,1,3,"[1, 2, 3]",3
22,Попов Леонид Андреевич,1,3,"[1, 2, 3]",3
23,Сапунов Кирилл Вячеславович,1,3,"[1, 2, 3]",3
24,Тропин Александр Михайлович,1,6,"[1, 2, 6]",3
25,Антонов Сергей Валентинович,2,4,"[2, 3, 4]",3
26,Быстрицкая Василина Васильевна,2,4,"[2, 3, 4]",3
27,Дяченко Мария Игоревна,2,4,"[2, 3, 4]",3
28,Тюрина Татьяна Игоревна,3,5,"[3, 4, 5]",3
29,Хасанов Рафаэль Ильгизович,3,7,"[3, 6, 7]",3
30,Нагорных Яна Валерьевна,4,6,"[4, 5, 6]",3
31,Савин Павел Андреевич,4,7,"[4, 5, 7]",3
32,Чидякина Ольга Олеговна,4,6,"[4, 5, 6]",3
33,Корж Даниил Сергеевич,6,8,"[6, 7, 8]",3
34,Тонконогов Александр Владиславович,6,8,"[6, 7, 8]",3
35,Вихорева Надежда Дмитриевна,7,9,"[7, 8, 9]",3
36,Винокурова Алина Валерьевна,8,10,"[8, 9, 10]",3
37,Скурихин Дмитрий Андреевич,8,10,"[8, 9, 10]",3
38,Фенелонов Даниил Игоревич,8,10,"[8, 9, 10]",3
39,Дехнич Кирилл Андреевич,9,11,"[9, 10, 11]",3
40,Евдокимова Софья Александровна,9,11,"[9, 10, 11]",3
41,Третьяков Пётр Максимович,9,11,"[9, 10, 11]",3
42,Абдуллаева Эмилия Табриз кызы,1,2,"[1, 2]",2
43,Асташов Дмитрий Сергеевич,1,2,"[1, 2]",2
44,Буряк Анна Андреевна,1,3,"[1, 3]",2
45,Власов Артем Андреевич,1,2,"[1, 2]",2
46,Коновалов Антон Александрович,1,2,"[1, 2]",2
47,Костицын Александр Алексеевич,1,2,"[1, 2]",2
48,Котляров Никита Владимирович,1,2,"[1, 2]",2
49,Ласкин Алексей Александрович,1,3,"[1, 3]",2
50,Медведева Яна Григорьевна,1,3,"[1, 3]",2
51,Самонов Алексей Александрович,1,3,"[1, 3]",2
52,Тишин Павел Владимирович,1,2,"[1, 2]",2
53,Удимов Даниил Алексеевич,1,2,"[1, 2]",2
54,Федорова Елена Игоревна,1,2,"[1, 2]",2
55,Чернодед Антон Игоревич,1,2,"[1, 2]",2
56,Шариков Алексей Анатольевич,1,3,"[1, 3]",2
57,Ватутин Кирилл Александрович,2,3,"[2, 3]",2
58,Оджаев Рахмет Курбандурдыевич,2,4,"[2, 4]",2
59,Сергеева Элина Александровна,2,3,"[2, 3]",2

In [19]:
ssmm_members_conv.to_csv('ssmm_members_conv.csv', sep='\t', encoding='utf-8', index=False)

In [39]:
ssmm_candidates_core_2 = ssmm_candidates_core_1.merge(ssmm_members_conv, left_on='name', right_on='name', how='left').rename(columns={
    'min_convocation_no':'min_member_conv_no',
    'max_convocation_no':'max_member_conv_no',
    'convocation_list':'member_conv_list',
    'convocation_cnt':'member_conv_cnt'
})
ssmm_candidates_core_2.head()

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg,min_member_conv_no,max_member_conv_no,member_conv_list,member_conv_cnt
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",3.0
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1,1.0,2.0,"[1, 2]",2.0
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 3]",2.0
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1,1.0,1.0,[1],1.0
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",3.0

In [23]:
# то же самое, но для выдвижения, а не членства

temd_df = ssmm_candidates_1_11
ssmm_candidates_x_conv = temd_df.sort_values(['convocation_no'],
              ascending = [True]).reset_index().drop(['index'], axis=1)

ssmm_candidates_conv = ssmm_candidates_x_conv.groupby('name').agg({'convocation_no':['min','max', lambda x: list(x), lambda x: len(list(x))]}) 

ssmm_candidates_conv.columns = ['_'.join(col[::-1]) for col in ssmm_candidates_conv.columns.values]
ssmm_candidates_conv = ssmm_candidates_conv.reset_index().rename(columns={'<lambda_0>_convocation_no':'convocation_list','<lambda_1>_convocation_no':'convocation_cnt'})
ssmm_candidates_conv = ssmm_candidates_conv.sort_values(['convocation_cnt', 'min_convocation_no'],
              ascending = [False, True]).reset_index().drop(['index'], axis=1)
ssmm_candidates_conv.head()

,name,min_convocation_no,max_convocation_no,convocation_list,convocation_cnt
0,Денисов Илья Олегович,3,8,"[3, 4, 5, 6, 7, 8]",6
1,Краснова Анастасия Александровна,4,9,"[4, 5, 6, 7, 8, 9]",6
2,Муравьёва Анна Сергеевна,4,9,"[4, 5, 6, 7, 8, 9]",6
3,Мазитова Вероника Рустэмовна,6,11,"[6, 7, 8, 9, 10, 11]",6
4,Матвеев Дмитрий Александрович,1,5,"[1, 2, 3, 4, 5]",5

In [40]:
ssmm_candidates_core_3 = ssmm_candidates_core_2.merge(ssmm_candidates_conv, left_on='name', right_on='name', how='left').rename(columns={
    'min_convocation_no':'min_cand_conv_no',
    'max_convocation_no':'max_cand_conv_no',
    'convocation_list':'cand_conv_list',
    'convocation_cnt':'cand_conv_cnt'
})
ssmm_candidates_core_3.head()

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg,min_member_conv_no,max_member_conv_no,member_conv_list,member_conv_cnt,min_cand_conv_no,max_cand_conv_no,cand_conv_list,cand_conv_cnt
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",3.0,1,3,"[1, 2, 3]",3
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1,1.0,2.0,"[1, 2]",2.0,1,2,"[1, 2]",2
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 3]",2.0,1,3,"[1, 2, 3]",3
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1,1.0,1.0,[1],1.0,1,1,[1],1
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",3.0,1,3,"[1, 2, 3]",3

In [28]:
# НА КАКИХ КУРСАХ ВЫДВИГАЮТСЯ?
# - вообще
# - впервые
# - в последний раз
# - сколько раз подавался
# - на каком курсе впервые подался (нужно тянуть номер курса)
# - на каком курсе в последний раз подался (нужно тянуть номер курса)

temp_df = ssmm_candidates_1_11

temp_df[['year_no','stream_no']] = pd.DataFrame(temp_df['year_stream_no'].apply(lambda x: list(split_year_stream(x))).tolist(), index=temp_df.index)
temp_df = temp_df.merge(ssmm_candidates_core, left_on='name', right_on='candidate_name',how='left')

first_temp_df = temp_df[temp_df['appearance_dttm'] == temp_df['first_appearance_dttm']]
first_temp_df = first_temp_df[['name','year_stream_no']].rename(columns={'year_stream_no':'first_app_year_stream_no'})

last_temp_df = temp_df[temp_df['appearance_dttm'] == temp_df['last_appearance_dttm']]
last_temp_df = last_temp_df[['name','year_stream_no']].rename(columns={'year_stream_no':'last_app_year_stream_no'})

dfList = [ssmm_candidates_conv, first_temp_df, last_temp_df]

from functools import reduce
ssmm_candidates_conv_2 = reduce(lambda df1,df2: pd.merge(df1,df2,on='name'), dfList)

# ssmm_candidates_conv_2[:40]

In [20]:
# ssmm_candidates_conv_2.to_csv('ssmm_candidates_conv.csv', sep='\t', encoding='utf-8', index=False)

In [41]:

dfList = [ssmm_candidates_core_3, first_temp_df, last_temp_df]

from functools import reduce
ssmm_candidates_core_4 = reduce(lambda df1,df2: pd.merge(df1,df2,on='name'), dfList)

ssmm_candidates_core_4.head()

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg,min_member_conv_no,max_member_conv_no,member_conv_list,member_conv_cnt,min_cand_conv_no,max_cand_conv_no,cand_conv_list,cand_conv_cnt,first_app_year_stream_no,last_app_year_stream_no
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",3.0,1,3,"[1, 2, 3]",3,3.1,5.1
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1,1.0,2.0,"[1, 2]",2.0,1,2,"[1, 2]",2,3.2,4.2
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 3]",2.0,1,3,"[1, 2, 3]",3,3.3,5.3
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1,1.0,1.0,[1],1.0,1,1,[1],1,3.2,3.2
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",3.0,1,3,"[1, 2, 3]",3,3.1,5.1

In [43]:
ssmm_candidates_core_4.to_csv('ssmm_candidates_core.csv', sep='\t', encoding='utf-8', index=False)
ssmm_candidates_core_4.to_csv('../library: main/ssmm_candidates_core.csv', sep='\t', encoding='utf-8', index=False)

# To create matrix members_x_convocations

In [30]:

# - сделать таблицу-матрицу с 11 колонками созывов и флагами членства

temd_df = ssmm_candidates_1_11[ssmm_candidates_1_11['elected_flg'] == 1]
# .sort_values(['convocation_cnt', 'min_convocation_no'],
#               ascending = [False, True]).reset_index().drop(['index'], axis=1)

list_for_sort = []
for i in range(1,11+1):
    list_for_sort.append('conv_'+str(i))

# просто флаг
pivoted = temd_df.pivot(index="name", columns="convocation_no", values="elected_flg").reset_index().fillna(0)

pivoted = pivoted.add_prefix('conv_').sort_values(list_for_sort+['conv_name'],
              ascending = [False, False, False, False, False, False, False, False, False, False, False, True]).rename(columns={'conv_name':'name'}).reset_index().drop(['index'], axis=1)

for i in range(1,11+1):
    pivoted['conv_'+str(i)] = pivoted['conv_'+str(i)].apply(lambda x: int(x) )
pivoted.head()

convocation_no,name,conv_1,conv_2,conv_3,conv_4,conv_5,conv_6,conv_7,conv_8,conv_9,conv_10,conv_11
0,Матвеев Дмитрий Александрович,1,1,1,1,1,0,0,0,0,0,0
1,Матвеев Алексей Викторович,1,1,1,1,0,0,0,0,0,0,0
2,Владыкина Вероника Евгеньевна,1,1,1,0,0,0,0,0,0,0,0
3,Осин Руслан Владимирович,1,1,1,0,0,0,0,0,0,0,0
4,Попов Леонид Андреевич,1,1,1,0,0,0,0,0,0,0,0

In [35]:
# def is_not_zero(x):
#     if x != '0':
#         return 0
#     else:
#         return 1

# is_not_nan('1')

In [31]:
# - сделать таблицу-матрицу с 11 колонками созывов и НОМЕРОМ КУРСА в качестве флага членства


temd_df = ssmm_candidates_1_11[ssmm_candidates_1_11['elected_flg'] == 1].merge(ssmm_dict_year_stream[['year_stream_no','classic_year_no']],left_on='year_stream_no',right_on='year_stream_no',how='left')

# для удобства: отсеивать по числу созывов
min_convocation_cnt = 1
'''
ПРИ ВЫГРУЗКЕ ФАЙЛА ПАРАМЕТРУ ПРИСВОИТЬ ЗНАЧЕНИЕ == 1
'''

pivoted = temd_df.pivot(index="name", columns="convocation_no", values="classic_year_no").reset_index() #.fillna('0')
pivoted = pivoted.merge(ssmm_members_conv[['name','convocation_cnt']][ssmm_members_conv['convocation_cnt'] >= min_convocation_cnt], left_on='name', right_on='name',how='inner').sort_values(['name'],
              ascending = [True]).reset_index().drop(['index'], axis=1)

# pivoted = pivoted.add_prefix('conv_').sort_values(list_for_sort+['conv_name'],
#               ascending = [False, False, False, False, False, False, False, False, False, False, False, True]).rename(columns={'conv_name':'name'}).reset_index().drop(['index'], axis=1)

# key=lambda x: np.sign(x) -- работало для численного номера курса
pivoted = pivoted.add_prefix('conv_').sort_values(by=list_for_sort, key=lambda x: x.notna(),
              ascending = [False, False, False, False, False, False, False, False, False, False, False]).rename(columns={'conv_name':'name','conv_convocation_cnt':'convocation_cnt'}).reset_index().drop(['index'], axis=1)

# for i in range(1,11+1):
#     pivoted['conv_'+str(i)] = pivoted['conv_'+str(i)].apply(lambda x: int(x) )

ssmm_members_x_convocations = pivoted
ssmm_members_x_convocations[:60]

# ручная сортировка
# df.sort_values(by=['m'], key=lambda x: x.map(custom_dict))

,name,conv_1,conv_2,conv_3,conv_4,conv_5,conv_6,conv_7,conv_8,conv_9,conv_10,conv_11,convocation_cnt
0,Матвеев Дмитрий Александрович,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,5
1,Матвеев Алексей Викторович,2,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2,Владыкина Вероника Евгеньевна,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,Осин Руслан Владимирович,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,Попов Леонид Андреевич,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
5,Сапунов Кирилл Вячеславович,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
6,Тропин Александр Михайлович,3,4,NaN,NaN,NaN,m1,NaN,NaN,NaN,NaN,NaN,3
7,Абдуллаева Эмилия Табриз кызы,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
8,Асташов Дмитрий Сергеевич,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
9,Власов Артем Андреевич,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
10,Коновалов Антон Александрович,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
11,Костицын Александр Алексеевич,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
12,Котляров Никита Владимирович,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
13,Тишин Павел Владимирович,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
14,Удимов Даниил Алексеевич,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
15,Федорова Елена Игоревна,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
16,Чернодед Антон Игоревич,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
17,Буряк Анна Андреевна,5,NaN,m1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
18,Ласкин Алексей Александрович,3,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
19,Медведева Яна Григорьевна,1,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
20,Самонов Алексей Александрович,3,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
21,Шариков Алексей Анатольевич,2,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
22,Аканаев Тимур Рашитович,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
23,Артамонова Мария Владимировна,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
24,Гильманов Роман Павлович,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
25,Глухова Алёна Олеговна,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
26,Громов Иван Михайлович,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
27,Дубровин Григорий Анатольевич,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
28,Кириллова Полина,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
29,Кузнецова Алёна,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
30,Левин Андрей,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
31,Малхасян Арамаис,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
32,Миценко Вадим Валериевич,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
33,Савелов Максим Павлович,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
34,Савушкин Никита Максимович,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
35,Сафина Диана Ураловна,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
36,Харлашин Владимир Сергеевич,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
37,Хисматуллина Марина Рашитовна,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
38,Цылин Иван Вячеславович,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
39,Штейников Юрий Николаевич,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
40,Остроухова Наталья Владимировна,NaN,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN,5
41,Морозов Сергей Сергеевич,NaN,m1,m2,m1,m1,NaN,NaN,NaN,NaN,NaN,NaN,4
42,Антонов Сергей Валентинович,NaN,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
43,Быстрицкая Василина Васильевна,NaN,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
44,Дяченко Мария Игоревна,NaN,1,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
45,Ватутин Кирилл Александрович,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
46,Сергеева Элина Александровна,NaN,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
47,Тен Анна Бенхиевна,NaN,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
48,Оджаев Рахмет Курбандурдыевич,NaN,3,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
49,Тулякова Анна Владимировна,NaN,2,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
50,Акушевич Андрей Дмитриевич,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
51,Багров Константин Владимирович,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
52,Габидов Александр Сергеевич,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
53,Дьяков Павел Александрович,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
54,Курикша Артем Анатольевич,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
55,Лавров Василий Алексеевич,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
56,Никифоров Сергей Игоревич,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
57,Смелов Владимир Павлович,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
58,Денисов Илья Олегович,NaN,NaN,1,2,3,4,5,6,NaN,NaN,NaN,6
59,Савченко Анастасия Игоревна,NaN,NaN,2,3,4,5,6,NaN,NaN,NaN,NaN,5

In [42]:
ssmm_members_x_convocations.to_csv('ssmm_members_x_convocations.csv', sep='\t', encoding='utf-8', index=False)

In [43]:
# научиться выделять из этой таблицы блоки однокурсников (по состоянию на конкретный созыв)

parameter_conv_no = 4
parameter_classic_year_no = '3'

temp_df = ssmm_members_x_convocations
temp_df = temp_df[temp_df['conv_'+str(parameter_conv_no)] == parameter_classic_year_no] #.sort_values(['conv_4'],
#               ascending = [False]).reset_index().drop(['index'], axis=1)

temp_df

,name,conv_1,conv_2,conv_3,conv_4,conv_5,conv_6,conv_7,conv_8,conv_9,conv_10,conv_11,convocation_cnt
40,Остроухова Наталья Владимировна,NaN,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN,5
44,Дяченко Мария Игоревна,NaN,1,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
59,Савченко Анастасия Игоревна,NaN,NaN,2,3,4,5,6,NaN,NaN,NaN,NaN,5
60,Глунчадзе Ираклий Вахтангович,NaN,NaN,2,3,4,5,NaN,NaN,NaN,NaN,NaN,4
83,Бекбулатов Рамзан Ломалиевич,NaN,NaN,NaN,3,4,5,6,NaN,NaN,NaN,NaN,4
87,Савин Павел Андреевич,NaN,NaN,NaN,3,4,NaN,6,NaN,NaN,NaN,NaN,3
88,Волчанский Андрей Петрович,NaN,NaN,NaN,3,4,NaN,NaN,NaN,NaN,NaN,NaN,2
89,Думаревский Александр Дмитриевич,NaN,NaN,NaN,3,4,NaN,NaN,NaN,NaN,NaN,NaN,2
91,Подкользина Евгения Борисовна,NaN,NaN,NaN,3,4,NaN,NaN,NaN,NaN,NaN,NaN,2
104,Чеботаева Виктория Алексеевна,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [ ]:
# научиться выделять не только однокурсников в текущем созыве, но и за все созывы
# (чтобы не зависеть от случайностей: например, в этот набор при фильтре по пятому созыву не попала бы Дяченко)

In [ ]:
# - по кандидату прочитать программы за все годы
kek = ssmm_membres_x_conv[['convocation_no','program_txt']][ssmm_membres_x_conv['name'] == 'Муравьёва Анна Сергеевна']
list(kek['program_txt'])

In [ ]:
# посмотреть, как падает конверсия из (учебного) года в год
# ЧЕРЕЗ: 
# разбить всех по году поступления (убрать академщиков и нестандартные кейсы)