In [1]:
'''
создаем большую таблицу ssmm_candidates_core с атрибутами кандидатов:
- ssmm_id, member_id
- номера созывов
- курсы членства
- итд

'''

In [3]:
import pandas as pd
import numpy as np

In [7]:
ssmm_candidates_1_11 = pd.read_csv('../library: main/ssmm_elections_candidates_1_11.csv', sep='\t', encoding='utf-8')
ssmm_candidates_1_11.head()

,conv_x_name,name,convocation_no,year_stream_no,academic_group_no,program_txt,announcement_link,announcement_dttm,votes_cnt,elected_flg,result_link,result_dttm,appearance_dttm
0,1_Левин_Андрей,Левин Андрей,1,1.1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,48.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
1,1_Матвеев_Дмитрий_Александрович,Матвеев Дмитрий Александрович,1,1.1,101.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,49.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
2,1_Власов_Артем_Андреевич,Власов Артем Андреевич,1,1.2,107.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,36.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
3,1_Кириллова_Полина,Кириллова Полина,1,1.2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,40.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
4,1_Семенов_Павел,Семенов Павел,1,1.2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,20.0,0,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00

# 1. To create table with SSMM_ID + other attributes

In [4]:
# СТЕРЖНЕВАЯ ТАБЛИЦА КАНДИДАТОВ С ПОРЯДКОВЫМ ssmm_id

# упорядочивание по времени первого появления, при равенстве - по ФИО
full_min_dttm = ssmm_candidates_1_11.groupby(['name']).agg({'appearance_dttm': ['min','max']}).reset_index()
full_min_dttm.columns = ['_'.join(col[::-1]) for col in full_min_dttm.columns.values]
full_min_dttm = full_min_dttm.rename(columns={'_name':'name'}).sort_values(['min_appearance_dttm', 'name'],
              ascending = [True, True]).reset_index().drop(['index'], axis=1)

# full_min_dttm


full_min_dttm['index'] = np.arange(full_min_dttm.shape[0])
full_min_dttm['ssmm_id'] = full_min_dttm['index'].apply(lambda x: x+1)
ssmm_candidates_core = full_min_dttm.drop(['index'], axis=1)
ssmm_candidates_core = ssmm_candidates_core[['ssmm_id', 'name', 'min_appearance_dttm', 'max_appearance_dttm']].rename(columns={'name':'candidate_name','min_appearance_dttm':'first_appearance_dttm','max_appearance_dttm':'last_appearance_dttm'})

ssmm_candidates_core
# ssmm_candidates_core[:60]

,ssmm_id,candidate_name,first_appearance_dttm,last_appearance_dttm
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00
...,...,...,...,...
315,316,Уваров Андрей Михайлович,2021-10-15 11:11:00,2021-10-15 11:11:00
316,317,Поликарпов Александр Валерьевич,2021-10-16 10:50:00,2021-10-16 10:50:00
317,318,Каляев Тимур Джанбулатович,2021-10-16 11:20:00,2021-10-16 11:20:00
318,319,Маммагаджиев Руслан Гаджимагомедович,2021-10-16 11:20:00,2021-10-16 11:20:00
319,320,Третьякова Екатерина Алексеевна,2021-10-16 11:20:00,2021-10-16 11:20:00

In [5]:
# ssmm_candidates_core.to_csv('ssmm_candidates_core.csv', sep='\t', encoding='utf-8', index=False)
# ssmm_candidates_core.to_csv('../library: main/ssmm_candidates_core.csv', sep='\t', encoding='utf-8', index=False)

In [6]:
# member_id - номер кандидата в порядке избрания в члены

temd_df = ssmm_candidates_1_11
elected_min_dttm = temd_df[temd_df['elected_flg'] == 1].groupby(['name']).agg({"result_dttm": "min"}).reset_index().sort_values(['result_dttm', 'name'],
              ascending = [True, True]).reset_index().drop(['index'], axis=1)

elected_min_dttm['index'] = np.arange(elected_min_dttm.shape[0])
elected_min_dttm['member_id'] = elected_min_dttm['index'].apply(lambda x: x+1)
ssmm_members_core = elected_min_dttm.drop(['index'], axis=1)
ssmm_members_core = ssmm_members_core[['member_id', 'name', 'result_dttm']].rename(columns={'name':'member_name','result_dttm':'first_result_dttm'})

# ssmm_members_core
ssmm_members_core #[:30]

     member_id                           member_name    first_result_dttm
0            1               Аканаев Тимур Рашитович  2012-02-28 22:34:00
1            2             Асташов Дмитрий Сергеевич  2012-02-28 22:34:00
2            3              Гильманов Роман Павлович  2012-02-28 22:34:00
3            4                Глухова Алёна Олеговна  2012-02-28 22:34:00
4            5         Костицын Александр Алексеевич  2012-02-28 22:34:00
..         ...                                   ...                  ...
258        259            Каляев Тимур Джанбулатович  2021-10-20 20:21:00
259        260  Маммагаджиев Руслан Гаджимагомедович  2021-10-20 20:21:00
260        261       Третьякова Екатерина Алексеевна  2021-10-20 20:21:00
261        262              Терехов Михаил Сергеевич  2021-10-21 15:44:00
262        263       Поликарпов Александр Валерьевич  2021-10-21 22:02:00

[263 rows x 3 columns]

In [38]:
ssmm_candidates_core_1 = ssmm_candidates_core.merge(ssmm_members_core, left_on='candidate_name', right_on='member_name', how='left').rename(columns={'candidate_name':'name'}).drop(['member_name'],axis=1)
ssmm_candidates_core_1['elected_flg'] = ssmm_candidates_core_1['member_id'].fillna(0).apply(lambda x: np.sign(x))
ssmm_candidates_core_1['elected_flg'] = ssmm_candidates_core_1['elected_flg'].apply(lambda x: int(x))

ssmm_candidates_core_1.head(20)

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1
5,6,Самонов Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,15.0,2012-03-07 02:03:00,1
6,7,Сапунов Кирилл Вячеславович,2012-02-25 23:16:00,2013-11-17 14:21:00,16.0,2012-03-07 02:03:00,1
7,8,Тропин Александр Михайлович,2012-02-25 23:16:00,2016-10-23 20:18:00,17.0,2012-03-07 02:03:00,1
8,9,Аканаев Тимур Рашитович,2012-02-25 23:49:00,2012-02-25 23:49:00,1.0,2012-02-28 22:34:00,1
9,10,Асташов Дмитрий Сергеевич,2012-02-25 23:49:00,2012-11-04 22:31:00,2.0,2012-02-28 22:34:00,1
10,11,Валиев Зураб Владимирович,2012-02-25 23:49:00,2012-02-25 23:49:00,NaN,NaN,0
11,12,Гильманов Роман Павлович,2012-02-25 23:49:00,2012-02-25 23:49:00,3.0,2012-02-28 22:34:00,1
12,13,Глухова Алёна Олеговна,2012-02-25 23:49:00,2012-02-25 23:49:00,4.0,2012-02-28 22:34:00,1
13,14,Костицын Александр Алексеевич,2012-02-25 23:49:00,2012-11-04 22:31:00,5.0,2012-02-28 22:34:00,1
14,15,Матвеев Алексей Викторович,2012-02-25 23:49:00,2014-11-18 23:45:00,6.0,2012-02-28 22:34:00,1
15,16,Оджаев Рахмет Курбандурдыевич,2012-02-25 23:49:00,2014-11-20 00:04:00,53.0,2012-11-19 16:13:00,1
16,17,Осин Руслан Владимирович,2012-02-25 23:49:00,2013-11-17 14:24:00,7.0,2012-02-28 22:34:00,1
17,18,Харлашин Владимир Сергеевич,2012-02-25 23:49:00,2012-02-25 23:49:00,8.0,2012-02-28 22:34:00,1
18,19,Шариков Алексей Анатольевич,2012-02-25 23:49:00,2013-11-17 14:24:00,9.0,2012-02-28 22:34:00,1
19,20,Абдуллаева Эмилия Табриз кызы,2012-02-25 23:52:00,2012-11-04 22:32:00,18.0,2012-03-07 18:55:00,1

In [46]:
# флаги о членстве
# - сколько раз избирался
# - первый созыв
# - последний созыв
# - список созывов

temd_df = ssmm_candidates_1_11
ssmm_members_x_conv = temd_df[temd_df['elected_flg'] == 1].sort_values(['convocation_no'],
              ascending = [True]).reset_index().drop(['index'], axis=1)

ssmm_members_conv = ssmm_members_x_conv.groupby('name').agg({'convocation_no':['min','max', lambda x: list(x), lambda x: len(list(x))]}) 

ssmm_members_conv.columns = ['_'.join(col[::-1]) for col in ssmm_members_conv.columns.values]
ssmm_members_conv = ssmm_members_conv.reset_index().rename(columns={'<lambda_0>_convocation_no':'convocation_list','<lambda_1>_convocation_no':'convocation_cnt'})
ssmm_members_conv = ssmm_members_conv.sort_values(['convocation_cnt', 'min_convocation_no'],
              ascending = [False, True]).reset_index().drop(['index'], axis=1)
ssmm_members_conv[:10]

,name,min_convocation_no,max_convocation_no,convocation_list,convocation_cnt
0,Денисов Илья Олегович,3,8,"[3, 4, 5, 6, 7, 8]",6
1,Краснова Анастасия Александровна,4,9,"[4, 5, 6, 7, 8, 9]",6
2,Муравьёва Анна Сергеевна,4,9,"[4, 5, 6, 7, 8, 9]",6
3,Мазитова Вероника Рустэмовна,6,11,"[6, 7, 8, 9, 10, 11]",6
4,Матвеев Дмитрий Александрович,1,5,"[1, 2, 3, 4, 5]",5
5,Остроухова Наталья Владимировна,2,6,"[2, 3, 4, 5, 6]",5
6,Савченко Анастасия Игоревна,3,7,"[3, 4, 5, 6, 7]",5
7,Малахов Николай Сергеевич,6,10,"[6, 7, 8, 9, 10]",5
8,Малиновский Георгий Андреевич,7,11,"[7, 8, 9, 10, 11]",5
9,Матвеев Алексей Викторович,1,4,"[1, 2, 3, 4]",4

In [19]:
# ssmm_members_conv.to_csv('ssmm_members_conv.csv', sep='\t', encoding='utf-8', index=False)

In [39]:
ssmm_candidates_core_2 = ssmm_candidates_core_1.merge(ssmm_members_conv, left_on='name', right_on='name', how='left').rename(columns={
    'min_convocation_no':'min_member_conv_no',
    'max_convocation_no':'max_member_conv_no',
    'convocation_list':'member_conv_list',
    'convocation_cnt':'member_conv_cnt'
})
ssmm_candidates_core_2.head()

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg,min_member_conv_no,max_member_conv_no,member_conv_list,member_conv_cnt
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",3.0
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1,1.0,2.0,"[1, 2]",2.0
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 3]",2.0
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1,1.0,1.0,[1],1.0
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",3.0

In [23]:
# то же самое, но для выдвижения, а не членства

temd_df = ssmm_candidates_1_11
ssmm_candidates_x_conv = temd_df.sort_values(['convocation_no'],
              ascending = [True]).reset_index().drop(['index'], axis=1)

ssmm_candidates_conv = ssmm_candidates_x_conv.groupby('name').agg({'convocation_no':['min','max', lambda x: list(x), lambda x: len(list(x))]}) 

ssmm_candidates_conv.columns = ['_'.join(col[::-1]) for col in ssmm_candidates_conv.columns.values]
ssmm_candidates_conv = ssmm_candidates_conv.reset_index().rename(columns={'<lambda_0>_convocation_no':'convocation_list','<lambda_1>_convocation_no':'convocation_cnt'})
ssmm_candidates_conv = ssmm_candidates_conv.sort_values(['convocation_cnt', 'min_convocation_no'],
              ascending = [False, True]).reset_index().drop(['index'], axis=1)
ssmm_candidates_conv.head()

,name,min_convocation_no,max_convocation_no,convocation_list,convocation_cnt
0,Денисов Илья Олегович,3,8,"[3, 4, 5, 6, 7, 8]",6
1,Краснова Анастасия Александровна,4,9,"[4, 5, 6, 7, 8, 9]",6
2,Муравьёва Анна Сергеевна,4,9,"[4, 5, 6, 7, 8, 9]",6
3,Мазитова Вероника Рустэмовна,6,11,"[6, 7, 8, 9, 10, 11]",6
4,Матвеев Дмитрий Александрович,1,5,"[1, 2, 3, 4, 5]",5

In [40]:
ssmm_candidates_core_3 = ssmm_candidates_core_2.merge(ssmm_candidates_conv, left_on='name', right_on='name', how='left').rename(columns={
    'min_convocation_no':'min_cand_conv_no',
    'max_convocation_no':'max_cand_conv_no',
    'convocation_list':'cand_conv_list',
    'convocation_cnt':'cand_conv_cnt'
})
ssmm_candidates_core_3.head()

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg,min_member_conv_no,max_member_conv_no,member_conv_list,member_conv_cnt,min_cand_conv_no,max_cand_conv_no,cand_conv_list,cand_conv_cnt
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",3.0,1,3,"[1, 2, 3]",3
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1,1.0,2.0,"[1, 2]",2.0,1,2,"[1, 2]",2
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 3]",2.0,1,3,"[1, 2, 3]",3
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1,1.0,1.0,[1],1.0,1,1,[1],1
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",3.0,1,3,"[1, 2, 3]",3

In [28]:
# НА КАКИХ КУРСАХ ВЫДВИГАЮТСЯ?
# - вообще
# - впервые
# - в последний раз
# - сколько раз подавался
# - на каком курсе впервые подался (нужно тянуть номер курса)
# - на каком курсе в последний раз подался (нужно тянуть номер курса)

temp_df = ssmm_candidates_1_11

temp_df[['year_no','stream_no']] = pd.DataFrame(temp_df['year_stream_no'].apply(lambda x: list(split_year_stream(x))).tolist(), index=temp_df.index)
temp_df = temp_df.merge(ssmm_candidates_core, left_on='name', right_on='candidate_name',how='left')

first_temp_df = temp_df[temp_df['appearance_dttm'] == temp_df['first_appearance_dttm']]
first_temp_df = first_temp_df[['name','year_stream_no']].rename(columns={'year_stream_no':'first_app_year_stream_no'})

last_temp_df = temp_df[temp_df['appearance_dttm'] == temp_df['last_appearance_dttm']]
last_temp_df = last_temp_df[['name','year_stream_no']].rename(columns={'year_stream_no':'last_app_year_stream_no'})

dfList = [ssmm_candidates_conv, first_temp_df, last_temp_df]

from functools import reduce
ssmm_candidates_conv_2 = reduce(lambda df1,df2: pd.merge(df1,df2,on='name'), dfList)

# ssmm_candidates_conv_2[:40]

In [20]:
# ssmm_candidates_conv_2.to_csv('ssmm_candidates_conv.csv', sep='\t', encoding='utf-8', index=False)

In [41]:

dfList = [ssmm_candidates_core_3, first_temp_df, last_temp_df]

from functools import reduce
ssmm_candidates_core_4 = reduce(lambda df1,df2: pd.merge(df1,df2,on='name'), dfList)

ssmm_candidates_core_4.head()

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg,min_member_conv_no,max_member_conv_no,member_conv_list,member_conv_cnt,min_cand_conv_no,max_cand_conv_no,cand_conv_list,cand_conv_cnt,first_app_year_stream_no,last_app_year_stream_no
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",3.0,1,3,"[1, 2, 3]",3,3.1,5.1
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1,1.0,2.0,"[1, 2]",2.0,1,2,"[1, 2]",2,3.2,4.2
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 3]",2.0,1,3,"[1, 2, 3]",3,3.3,5.3
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1,1.0,1.0,[1],1.0,1,1,[1],1,3.2,3.2
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",3.0,1,3,"[1, 2, 3]",3,3.1,5.1

In [43]:
ssmm_candidates_core_4.to_csv('ssmm_candidates_core.csv', sep='\t', encoding='utf-8', index=False)
ssmm_candidates_core_4.to_csv('../library: main/ssmm_candidates_core.csv', sep='\t', encoding='utf-8', index=False)

In [30]:

# - сделать таблицу-матрицу с 11 колонками созывов и флагами членства

temd_df = ssmm_candidates_1_11[ssmm_candidates_1_11['elected_flg'] == 1]
# .sort_values(['convocation_cnt', 'min_convocation_no'],
#               ascending = [False, True]).reset_index().drop(['index'], axis=1)

list_for_sort = []
for i in range(1,11+1):
    list_for_sort.append('conv_'+str(i))

# просто флаг
pivoted = temd_df.pivot(index="name", columns="convocation_no", values="elected_flg").reset_index().fillna(0)

pivoted = pivoted.add_prefix('conv_').sort_values(list_for_sort+['conv_name'],
              ascending = [False, False, False, False, False, False, False, False, False, False, False, True]).rename(columns={'conv_name':'name'}).reset_index().drop(['index'], axis=1)

for i in range(1,11+1):
    pivoted['conv_'+str(i)] = pivoted['conv_'+str(i)].apply(lambda x: int(x) )
pivoted.head()

convocation_no,name,conv_1,conv_2,conv_3,conv_4,conv_5,conv_6,conv_7,conv_8,conv_9,conv_10,conv_11
0,Матвеев Дмитрий Александрович,1,1,1,1,1,0,0,0,0,0,0
1,Матвеев Алексей Викторович,1,1,1,1,0,0,0,0,0,0,0
2,Владыкина Вероника Евгеньевна,1,1,1,0,0,0,0,0,0,0,0
3,Осин Руслан Владимирович,1,1,1,0,0,0,0,0,0,0,0
4,Попов Леонид Андреевич,1,1,1,0,0,0,0,0,0,0,0

In [35]:
# def is_not_zero(x):
#     if x != '0':
#         return 0
#     else:
#         return 1

# is_not_nan('1')

In [31]:
# - сделать таблицу-матрицу с 11 колонками созывов и НОМЕРОМ КУРСА в качестве флага членства


temd_df = ssmm_candidates_1_11[ssmm_candidates_1_11['elected_flg'] == 1].merge(ssmm_dict_year_stream[['year_stream_no','classic_year_no']],left_on='year_stream_no',right_on='year_stream_no',how='left')

# для удобства: отсеивать по числу созывов
min_convocation_cnt = 1
'''
ПРИ ВЫГРУЗКЕ ФАЙЛА ПАРАМЕТРУ ПРИСВОИТЬ ЗНАЧЕНИЕ == 1
'''

pivoted = temd_df.pivot(index="name", columns="convocation_no", values="classic_year_no").reset_index() #.fillna('0')
pivoted = pivoted.merge(ssmm_members_conv[['name','convocation_cnt']][ssmm_members_conv['convocation_cnt'] >= min_convocation_cnt], left_on='name', right_on='name',how='inner').sort_values(['name'],
              ascending = [True]).reset_index().drop(['index'], axis=1)

# pivoted = pivoted.add_prefix('conv_').sort_values(list_for_sort+['conv_name'],
#               ascending = [False, False, False, False, False, False, False, False, False, False, False, True]).rename(columns={'conv_name':'name'}).reset_index().drop(['index'], axis=1)

# key=lambda x: np.sign(x) -- работало для численного номера курса
pivoted = pivoted.add_prefix('conv_').sort_values(by=list_for_sort, key=lambda x: x.notna(),
              ascending = [False, False, False, False, False, False, False, False, False, False, False]).rename(columns={'conv_name':'name','conv_convocation_cnt':'convocation_cnt'}).reset_index().drop(['index'], axis=1)

# for i in range(1,11+1):
#     pivoted['conv_'+str(i)] = pivoted['conv_'+str(i)].apply(lambda x: int(x) )

ssmm_members_x_convocations = pivoted
ssmm_members_x_convocations[:60]

# ручная сортировка
# df.sort_values(by=['m'], key=lambda x: x.map(custom_dict))

,name,conv_1,conv_2,conv_3,conv_4,conv_5,conv_6,conv_7,conv_8,conv_9,conv_10,conv_11,convocation_cnt
0,Матвеев Дмитрий Александрович,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,5
1,Матвеев Алексей Викторович,2,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2,Владыкина Вероника Евгеньевна,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,Осин Руслан Владимирович,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,Попов Леонид Андреевич,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
5,Сапунов Кирилл Вячеславович,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
6,Тропин Александр Михайлович,3,4,NaN,NaN,NaN,m1,NaN,NaN,NaN,NaN,NaN,3
7,Абдуллаева Эмилия Табриз кызы,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
8,Асташов Дмитрий Сергеевич,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
9,Власов Артем Андреевич,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
10,Коновалов Антон Александрович,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
11,Костицын Александр Алексеевич,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
12,Котляров Никита Владимирович,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
13,Тишин Павел Владимирович,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
14,Удимов Даниил Алексеевич,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
15,Федорова Елена Игоревна,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
16,Чернодед Антон Игоревич,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
17,Буряк Анна Андреевна,5,NaN,m1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
18,Ласкин Алексей Александрович,3,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
19,Медведева Яна Григорьевна,1,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
20,Самонов Алексей Александрович,3,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
21,Шариков Алексей Анатольевич,2,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
22,Аканаев Тимур Рашитович,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
23,Артамонова Мария Владимировна,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
24,Гильманов Роман Павлович,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
25,Глухова Алёна Олеговна,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
26,Громов Иван Михайлович,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
27,Дубровин Григорий Анатольевич,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
28,Кириллова Полина,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
29,Кузнецова Алёна,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
30,Левин Андрей,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
31,Малхасян Арамаис,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
32,Миценко Вадим Валериевич,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
33,Савелов Максим Павлович,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
34,Савушкин Никита Максимович,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
35,Сафина Диана Ураловна,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
36,Харлашин Владимир Сергеевич,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
37,Хисматуллина Марина Рашитовна,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
38,Цылин Иван Вячеславович,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
39,Штейников Юрий Николаевич,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
40,Остроухова Наталья Владимировна,NaN,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN,5
41,Морозов Сергей Сергеевич,NaN,m1,m2,m1,m1,NaN,NaN,NaN,NaN,NaN,NaN,4
42,Антонов Сергей Валентинович,NaN,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
43,Быстрицкая Василина Васильевна,NaN,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
44,Дяченко Мария Игоревна,NaN,1,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
45,Ватутин Кирилл Александрович,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
46,Сергеева Элина Александровна,NaN,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
47,Тен Анна Бенхиевна,NaN,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
48,Оджаев Рахмет Курбандурдыевич,NaN,3,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
49,Тулякова Анна Владимировна,NaN,2,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
50,Акушевич Андрей Дмитриевич,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
51,Багров Константин Владимирович,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
52,Габидов Александр Сергеевич,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
53,Дьяков Павел Александрович,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
54,Курикша Артем Анатольевич,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
55,Лавров Василий Алексеевич,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
56,Никифоров Сергей Игоревич,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
57,Смелов Владимир Павлович,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
58,Денисов Илья Олегович,NaN,NaN,1,2,3,4,5,6,NaN,NaN,NaN,6
59,Савченко Анастасия Игоревна,NaN,NaN,2,3,4,5,6,NaN,NaN,NaN,NaN,5

In [ ]:
ssmm_members_x_convocations.to_csv('ssmm_members_x_convocations.csv', sep='\t', encoding='utf-8', index=False)
ssmm_members_x_convocations.to_csv('../library: main/ssmm_members_x_convocations.csv', sep='\t', encoding='utf-8', index=False)

In [48]:
ssmm_candidates_core_5 = ssmm_candidates_core_4.merge(ssmm_members_x_convocations.drop(['convocation_cnt'],axis=1), left_on='name', right_on='name', how='left')

ssmm_candidates_core_5.head()

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg,min_member_conv_no,max_member_conv_no,member_conv_list,...,conv_2,conv_3,conv_4,conv_5,conv_6,conv_7,conv_8,conv_9,conv_10,conv_11
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",...,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1,1.0,2.0,"[1, 2]",...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 3]",...,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1,1.0,1.0,[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",...,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# ssmm_candidates_core_5.to_csv('ssmm_candidates_core.csv', sep='\t', encoding='utf-8', index=False)
# ssmm_candidates_core_5.to_csv('../library: main/ssmm_candidates_core.csv', sep='\t', encoding='utf-8', index=False)

In [22]:
# ssmm_candidates_core_5 = pd.read_csv('../library: main/ssmm_candidates_core.csv', sep='\t', encoding='utf-8')

## add management positions

In [4]:
ssmm_coordinators_1_11 = pd.read_csv('../library: main/ssmm_coordinators_1_11.csv', sep='\t', encoding='utf-8')
ssmm_coordinators_1_11 = ssmm_coordinators_1_11[['convocation_no','position','name']]
ssmm_coordinators_1_11.head()

,convocation_no,position,name
0,1,Координатор РГ «Бытовые вопросы»,Котляров Никита Владимирович
1,2,Координатор РГ «Бытовые вопросы»,Котляров Никита Владимирович
2,4,Координатор РГ «Бытовые вопросы»,Денисов Илья Олегович
3,5,Координатор РГ «Бытовые вопросы»,Денисов Илья Олегович
4,6,Координатор РГ «Бытовые вопросы»,Авилова Екатерина Михайловна

In [3]:
ssmm_management_1_11 = pd.read_csv('../library: main/ssmm_management_1_11.csv', sep='\t', encoding='utf-8')
ssmm_management_1_11.head()

   convocation_no      position                           name
0               1  Председатель   Котляров Никита Владимирович
1               2  Председатель    Сапунов Кирилл Вячеславович
2               3  Председатель     Матвеев Алексей Викторович
3               4  Председатель  Глунчадзе Ираклий Вахтангович
4               5  Председатель   Бекбулатов Рамзан Ломалиевич

In [6]:
list_of_df = [ssmm_management_1_11,ssmm_coordinators_1_11]
full_management = pd.concat(list_of_df).reset_index().drop(['index'], axis=1)
full_management = full_management.sort_values(['name', 'convocation_no'],
              ascending = [True, True]).reset_index().drop(['index'], axis=1)
full_management

,convocation_no,position,name
0,6,Координатор РГ «Бытовые вопросы»,Авилова Екатерина Михайловна
1,11,Координатор РГ «Оповещение»,Алёшечкина Екатерина Сергеевна
2,3,Координатор РГ «Спорт»,Антонов Сергей Валентинович
3,1,Заместитель председателя,Асташов Дмитрий Сергеевич
4,4,Координатор РГ «Оповещение»,Бекбулатов Рамзан Ломалиевич
...,...,...,...
142,4,Координатор РГ «Спорт»,Шведов Константин Анатольевич
143,5,Второй представитель в Студсовете МГУ,Шведов Константин Анатольевич
144,11,Координатор РГ «Спорт»,Шевченко Екатерина Романовна
145,10,Заместитель председателя,Шишков Александр Александрович
146,10,Координатор РГ «Распределение стипендий»,Шишков Александр Александрович

In [44]:
full_management.to_csv('ssmm_full_management_1_11.csv', sep='\t', encoding='utf-8', index=False)
full_management.to_csv('../library: main/ssmm_full_management_1_11.csv', sep='\t', encoding='utf-8', index=False)

In [26]:
# перечислить созывы в руководстве

full_management_stat = full_management.groupby('name').agg({'convocation_no':['min','max', lambda x: sorted(list(set(list(x)))), lambda x: len(list(set(list(x))))], 'position': [lambda x: list(set(list(x))), lambda x: len(list(set(list(x))))]}) 
full_management_stat.columns = ['_'.join(col[::-1]) for col in full_management_stat.columns.values]
full_management_stat = full_management_stat.reset_index().rename(columns={
    'min_convocation_no':'manage_min_convocation_no',
    'max_convocation_no':'manage_max_convocation_no',
    '<lambda_0>_convocation_no':'manage_convocation_list',
    '<lambda_1>_convocation_no':'manage_convocation_cnt',
    '<lambda_0>_position':'position_list',
    '<lambda_1>_position':'position_cnt'
})
full_management_stat = full_management_stat.sort_values(['manage_convocation_cnt', 'manage_min_convocation_no'],
              ascending = [False, True]).reset_index().drop(['index'], axis=1)

full_management_stat[:11]

,name,manage_min_convocation_no,manage_max_convocation_no,manage_convocation_list,manage_convocation_cnt,position_list,position_cnt
0,Денисов Илья Олегович,4,8,"[4, 5, 6, 7, 8]",5,"[Заместитель председателя, Председатель, Второй представитель в Студсовете МГУ, Координатор РГ «Бытовые вопросы», Первый представитель в Студсовете МГУ]",5
1,Малиновский Георгий Андреевич,8,11,"[8, 9, 10, 11]",4,"[Координатор РГ «Оповещение», Секретарь, Председатель]",3
2,Сапунов Кирилл Вячеславович,1,3,"[1, 2, 3]",3,"[Координатор РГ «Оповещение», Председатель, Второй представитель в Студсовете МГУ, Первый представитель в Студсовете МГУ]",4
3,Матвеев Дмитрий Александрович,2,4,"[2, 3, 4]",3,"[Координатор РГ «Оповещение», Координатор РГ «Распределение стипендий»]",2
4,Бекбулатов Рамзан Ломалиевич,4,6,"[4, 5, 6]",3,"[Координатор РГ «Оповещение», Заместитель председателя, Председатель, Второй представитель в Студсовете МГУ, Первый представитель в Студсовете МГУ]",5
5,Глунчадзе Ираклий Вахтангович,4,6,"[4, 5, 6]",3,"[Координатор РГ «Оповещение», Председатель, Координатор РГ «Распределение стипендий», Первый представитель в Студсовете МГУ]",4
6,Корж Даниил Сергеевич,6,8,"[6, 7, 8]",3,"[Второй заместитель представителей в Студсовете МГУ, Координатор РГ «Бытовые вопросы»]",2
7,Тонконогов Александр Владиславович,6,8,"[6, 7, 8]",3,"[Председатель, Первый заместитель представителей в Студсовете МГУ, Координатор РГ «Работа с партнёрами», Первый представитель в Студсовете МГУ]",4
8,Малахов Николай Сергеевич,7,9,"[7, 8, 9]",3,"[Координатор РГ «Спорт», Второй заместитель представителей в Студсовете МГУ, Первый заместитель представителей в Студсовете МГУ]",3
9,Кухарчук Иван Андреевич,8,10,"[8, 9, 10]",3,"[Координатор РГ «Распределение стипендий», Координатор РГ «Образование», Первый заместитель представителей в Студсовете МГУ, Второй представитель в Студсовете МГУ]",4
10,Третьяков Пётр Максимович,9,11,"[9, 10, 11]",3,"[Представитель в Учёном совете мехмата, Координатор РГ «Оповещение», Второй представитель в Студсовете МГУ]",3

In [18]:
pd.set_option('display.max_colwidth', None)

# full_management_stat[['name','position_list']][full_management_stat['name'] == 'Тропин Александр Михайлович']

,name,position_list
14,Тропин Александр Михайлович,"[Секретарь, Первый заместитель представителей в Студсовете МГУ, Координатор РГ «Разработка Устава и Положения», Секретарь, Второй представитель в Студсовете МГУ]"

In [27]:
ssmm_candidates_core_6 = ssmm_candidates_core_5.merge(full_management_stat, how='left')
ssmm_candidates_core_6

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg,min_member_conv_no,max_member_conv_no,member_conv_list,...,conv_8,conv_9,conv_10,conv_11,manage_min_convocation_no,manage_max_convocation_no,manage_convocation_list,manage_convocation_cnt,position_list,position_cnt
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",...,NaN,NaN,NaN,NaN,1.0,2.0,"[1, 2]",2.0,"[Второй заместитель представителей в Студсовете МГУ, Представитель в Учёном совете мехмата, Координатор РГ «Образование»]",3.0
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1,1.0,2.0,"[1, 2]",...,NaN,NaN,NaN,NaN,1.0,1.0,[1],1.0,[Координатор РГ «Трудоустройство»],1.0
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 3]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1,1.0,1.0,[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",...,NaN,NaN,NaN,NaN,1.0,2.0,"[1, 2]",2.0,"[Заместитель председателя, Координатор РГ «Спорт и праздники»]",2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,316,Уваров Андрей Михайлович,2021-10-15 11:11:00,2021-10-15 11:11:00,255.0,2021-10-17 22:02:00,1,11.0,11.0,[11],...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
316,317,Поликарпов Александр Валерьевич,2021-10-16 10:50:00,2021-10-16 10:50:00,263.0,2021-10-21 22:02:00,1,11.0,11.0,[11],...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN
317,318,Каляев Тимур Джанбулатович,2021-10-16 11:20:00,2021-10-16 11:20:00,259.0,2021-10-20 20:21:00,1,11.0,11.0,[11],...,NaN,NaN,NaN,m1,NaN,NaN,NaN,NaN,NaN,NaN
318,319,Маммагаджиев Руслан Гаджимагомедович,2021-10-16 11:20:00,2021-10-16 11:20:00,260.0,2021-10-20 20:21:00,1,11.0,11.0,[11],...,NaN,NaN,NaN,m1,NaN,NaN,NaN,NaN,NaN,NaN
319,320,Третьякова Екатерина Алексеевна,2021-10-16 11:20:00,2021-10-16 11:20:00,261.0,2021-10-20 20:21:00,1,11.0,11.0,[11],...,NaN,NaN,NaN,m1,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
ssmm_honorary_members = pd.read_csv('../library: main/ssmm_honorary_members.csv', sep='\t', encoding='utf-8')
ssmm_honorary_members.head()

                           name honorary_award_date
0  Котляров Никита Владимирович          2014-11-29
1   Тропин Александр Михайлович          2014-11-29
2        Попов Леонид Андреевич          2014-11-29
3   Сапунов Кирилл Вячеславович          2014-11-29
4            Тен Анна Бенхиевна          2014-11-29

In [42]:
ssmm_candidates_core_7 = ssmm_candidates_core_6.merge(ssmm_honorary_members, how='left')
ssmm_candidates_core_7['honorary_flg'] = ssmm_candidates_core_7['honorary_award_date'].notna().astype(int)
ssmm_candidates_core_7

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg,min_member_conv_no,max_member_conv_no,member_conv_list,...,conv_10,conv_11,manage_min_convocation_no,manage_max_convocation_no,manage_convocation_list,manage_convocation_cnt,position_list,position_cnt,honorary_award_date,honorary_flg
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",...,NaN,NaN,1.0,2.0,"[1, 2]",2.0,"[Второй заместитель представителей в Студсовете МГУ, Представитель в Учёном совете мехмата, Координатор РГ «Образование»]",3.0,2014-11-29,1
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1,1.0,2.0,"[1, 2]",...,NaN,NaN,1.0,1.0,[1],1.0,[Координатор РГ «Трудоустройство»],1.0,NaN,0
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 3]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1,1.0,1.0,[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",...,NaN,NaN,1.0,2.0,"[1, 2]",2.0,"[Заместитель председателя, Координатор РГ «Спорт и праздники»]",2.0,2014-11-29,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,316,Уваров Андрей Михайлович,2021-10-15 11:11:00,2021-10-15 11:11:00,255.0,2021-10-17 22:02:00,1,11.0,11.0,[11],...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
316,317,Поликарпов Александр Валерьевич,2021-10-16 10:50:00,2021-10-16 10:50:00,263.0,2021-10-21 22:02:00,1,11.0,11.0,[11],...,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
317,318,Каляев Тимур Джанбулатович,2021-10-16 11:20:00,2021-10-16 11:20:00,259.0,2021-10-20 20:21:00,1,11.0,11.0,[11],...,NaN,m1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
318,319,Маммагаджиев Руслан Гаджимагомедович,2021-10-16 11:20:00,2021-10-16 11:20:00,260.0,2021-10-20 20:21:00,1,11.0,11.0,[11],...,NaN,m1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
319,320,Третьякова Екатерина Алексеевна,2021-10-16 11:20:00,2021-10-16 11:20:00,261.0,2021-10-20 20:21:00,1,11.0,11.0,[11],...,NaN,m1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [1]:
# https://pypi.org/project/russian-names/
from russian_names import RussianNames

In [4]:
ssmm_candidates_core_7 = pd.read_csv('../library: main/ssmm_candidates_core.csv', sep='\t', encoding='utf-8')
ssmm_candidates_core_7

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg,min_member_conv_no,max_member_conv_no,member_conv_list,...,conv_10,conv_11,manage_min_convocation_no,manage_max_convocation_no,manage_convocation_list,manage_convocation_cnt,position_list,position_cnt,honorary_award_date,honorary_flg
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",...,NaN,NaN,1.0,2.0,"[1, 2]",2.0,['Второй заместитель представителей в Студсове...,3.0,2014-11-29,1
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1,1.0,2.0,"[1, 2]",...,NaN,NaN,1.0,1.0,[1],1.0,['Координатор РГ «Трудоустройство»'],1.0,NaN,0
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 3]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1,1.0,1.0,[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",...,NaN,NaN,1.0,2.0,"[1, 2]",2.0,"['Заместитель председателя', 'Координатор РГ «...",2.0,2014-11-29,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,316,Уваров Андрей Михайлович,2021-10-15 11:11:00,2021-10-15 11:11:00,255.0,2021-10-17 22:02:00,1,11.0,11.0,[11],...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
316,317,Поликарпов Александр Валерьевич,2021-10-16 10:50:00,2021-10-16 10:50:00,263.0,2021-10-21 22:02:00,1,11.0,11.0,[11],...,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
317,318,Каляев Тимур Джанбулатович,2021-10-16 11:20:00,2021-10-16 11:20:00,259.0,2021-10-20 20:21:00,1,11.0,11.0,[11],...,NaN,m1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
318,319,Маммагаджиев Руслан Гаджимагомедович,2021-10-16 11:20:00,2021-10-16 11:20:00,260.0,2021-10-20 20:21:00,1,11.0,11.0,[11],...,NaN,m1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
319,320,Третьякова Екатерина Алексеевна,2021-10-16 11:20:00,2021-10-16 11:20:00,261.0,2021-10-20 20:21:00,1,11.0,11.0,[11],...,NaN,m1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [62]:
male_names = list(set(RussianNames(count=10000, patronymic=False, surname=False, rare=True, gender=1.0).get_batch())) + ['Арамаис', 'Зураб', 'Рахмет', 'Рамиль', 'Артем', 'Алмаз', 'Рафаэль', 'Алекберов', 'Рамин', 'Али', 'Марат', 
                   'Рамзан', 'Роберт', 'Аскар', 'Вильям', 'Сэймур', 'Махач', 'Рамиль', 'Аллан', 'Темурбек', 'Год', 'Дамиль']
female_names = list(set(RussianNames(count=10000, patronymic=False, surname=False, rare=True, gender=0.0).get_batch())) + ['Эмилия', 'Яна', 'Элина', 'Гульназ', 'Дарима', 'Дженнет', 'Айжамал', 'Лейла']

def def_gender(s):
    ss = s.split()
    if any(a in male_names for a in ss):
        return 'male'
    elif any(a in female_names for a in ss):
        return 'female'
    else:
        return 'kek'
                
# 'Екатерина' in rn
# def_gender('Маммагаджиев Руслан Гаджимагомедович') # OK 
# def_gender('Каляев Тимур Джанбулатович') # OK
# def_gender('Уваров Андрей Михайлович') # OK
# def_gender('Третьякова Екатерина Алексеевна') # OK
# def_gender('Арефьева Варвара Ярославовна') # OK

In [60]:
# sorted(female_names)

In [43]:
# https://pypi.org/project/russiannames/
# from russiannames.parser import NamesParser
# parser = NamesParser()

In [63]:
ssmm_candidates_core_7['gender'] = ssmm_candidates_core_7['name'].apply(lambda x: def_gender(x))
ssmm_candidates_core_7

,ssmm_id,name,first_appearance_dttm,last_appearance_dttm,member_id,first_result_dttm,elected_flg,min_member_conv_no,max_member_conv_no,member_conv_list,...,conv_11,manage_min_convocation_no,manage_max_convocation_no,manage_convocation_list,manage_convocation_cnt,position_list,position_cnt,honorary_award_date,honorary_flg,gender
0,1,Владыкина Вероника Евгеньевна,2012-02-25 23:16:00,2013-11-17 14:21:00,10.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",...,NaN,1.0,2.0,"[1, 2]",2.0,['Второй заместитель представителей в Студсове...,3.0,2014-11-29,1,female
1,2,Коновалов Антон Александрович,2012-02-25 23:16:00,2012-11-04 23:03:00,11.0,2012-03-07 02:03:00,1,1.0,2.0,"[1, 2]",...,NaN,1.0,1.0,[1],1.0,['Координатор РГ «Трудоустройство»'],1.0,NaN,0,male
2,3,Ласкин Алексей Александрович,2012-02-25 23:16:00,2013-11-17 14:21:00,12.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 3]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,male
3,4,Малхасян Арамаис,2012-02-25 23:16:00,2012-02-25 23:16:00,13.0,2012-03-07 02:03:00,1,1.0,1.0,[1],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,male
4,5,Попов Леонид Андреевич,2012-02-25 23:16:00,2013-11-17 14:21:00,14.0,2012-03-07 02:03:00,1,1.0,3.0,"[1, 2, 3]",...,NaN,1.0,2.0,"[1, 2]",2.0,"['Заместитель председателя', 'Координатор РГ «...",2.0,2014-11-29,1,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,316,Уваров Андрей Михайлович,2021-10-15 11:11:00,2021-10-15 11:11:00,255.0,2021-10-17 22:02:00,1,11.0,11.0,[11],...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,male
316,317,Поликарпов Александр Валерьевич,2021-10-16 10:50:00,2021-10-16 10:50:00,263.0,2021-10-21 22:02:00,1,11.0,11.0,[11],...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,male
317,318,Каляев Тимур Джанбулатович,2021-10-16 11:20:00,2021-10-16 11:20:00,259.0,2021-10-20 20:21:00,1,11.0,11.0,[11],...,m1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,male
318,319,Маммагаджиев Руслан Гаджимагомедович,2021-10-16 11:20:00,2021-10-16 11:20:00,260.0,2021-10-20 20:21:00,1,11.0,11.0,[11],...,m1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,male
319,320,Третьякова Екатерина Алексеевна,2021-10-16 11:20:00,2021-10-16 11:20:00,261.0,2021-10-20 20:21:00,1,11.0,11.0,[11],...,m1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,female

In [64]:
ssmm_candidates_core_7[ssmm_candidates_core_7['gender'] == 'kek']

Empty DataFrame
Columns: [ssmm_id, name, first_appearance_dttm, last_appearance_dttm, member_id, first_result_dttm, elected_flg, min_member_conv_no, max_member_conv_no, member_conv_list, member_conv_cnt, min_cand_conv_no, max_cand_conv_no, cand_conv_list, cand_conv_cnt, first_app_year_stream_no, last_app_year_stream_no, conv_1, conv_2, conv_3, conv_4, conv_5, conv_6, conv_7, conv_8, conv_9, conv_10, conv_11, manage_min_convocation_no, manage_max_convocation_no, manage_convocation_list, manage_convocation_cnt, position_list, position_cnt, honorary_award_date, honorary_flg, gender]
Index: []

[0 rows x 37 columns]

In [65]:
ssmm_candidates_core_7.to_csv('ssmm_candidates_core.csv', sep='\t', encoding='utf-8', index=False)
ssmm_candidates_core_7.to_csv('../library: main/ssmm_candidates_core.csv', sep='\t', encoding='utf-8', index=False)

# 3. ДРУГОЕ

In [43]:
# научиться выделять из этой таблицы блоки однокурсников (по состоянию на конкретный созыв)

parameter_conv_no = 4
parameter_classic_year_no = '3'

temp_df = ssmm_members_x_convocations
temp_df = temp_df[temp_df['conv_'+str(parameter_conv_no)] == parameter_classic_year_no] #.sort_values(['conv_4'],
#               ascending = [False]).reset_index().drop(['index'], axis=1)

temp_df

,name,conv_1,conv_2,conv_3,conv_4,conv_5,conv_6,conv_7,conv_8,conv_9,conv_10,conv_11,convocation_cnt
40,Остроухова Наталья Владимировна,NaN,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN,5
44,Дяченко Мария Игоревна,NaN,1,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
59,Савченко Анастасия Игоревна,NaN,NaN,2,3,4,5,6,NaN,NaN,NaN,NaN,5
60,Глунчадзе Ираклий Вахтангович,NaN,NaN,2,3,4,5,NaN,NaN,NaN,NaN,NaN,4
83,Бекбулатов Рамзан Ломалиевич,NaN,NaN,NaN,3,4,5,6,NaN,NaN,NaN,NaN,4
87,Савин Павел Андреевич,NaN,NaN,NaN,3,4,NaN,6,NaN,NaN,NaN,NaN,3
88,Волчанский Андрей Петрович,NaN,NaN,NaN,3,4,NaN,NaN,NaN,NaN,NaN,NaN,2
89,Думаревский Александр Дмитриевич,NaN,NaN,NaN,3,4,NaN,NaN,NaN,NaN,NaN,NaN,2
91,Подкользина Евгения Борисовна,NaN,NaN,NaN,3,4,NaN,NaN,NaN,NaN,NaN,NaN,2
104,Чеботаева Виктория Алексеевна,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [ ]:
# научиться выделять не только однокурсников в текущем созыве, но и за все созывы
# (чтобы не зависеть от случайностей: например, в этот набор при фильтре по пятому созыву не попала бы Дяченко)

In [ ]:
# - по кандидату прочитать программы за все годы
kek = ssmm_membres_x_conv[['convocation_no','program_txt']][ssmm_membres_x_conv['name'] == 'Муравьёва Анна Сергеевна']
list(kek['program_txt'])

In [ ]:
# посмотреть, как падает конверсия из (учебного) года в год
# ЧЕРЕЗ: 
# разбить всех по году поступления (убрать академщиков и нестандартные кейсы)