In [2]:
import pandas as pd

In [97]:
ssmm_candidates_x_votes_info_conv_1_11 = pd.read_csv('../library: main/ssmm_elections_candidates_1_11.csv', sep='\t', encoding='utf-8')
ssmm_candidates_x_votes_info_conv_1_11.head()

,conv_x_name,name,convocation_no,year_stream_no,academic_group_no,program_txt,announcement_link,announcement_dttm,votes_cnt,elected_flg,result_link,result_dttm,appearance_dttm
0,1_Левин_Андрей,Левин Андрей,1,1.1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,48.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
1,1_Матвеев_Дмитрий_Александрович,Матвеев Дмитрий Александрович,1,1.1,101.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,49.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
2,1_Власов_Артем_Андреевич,Власов Артем Андреевич,1,1.2,107.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,36.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
3,1_Кириллова_Полина,Кириллова Полина,1,1.2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,40.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
4,1_Семенов_Павел,Семенов Павел,1,1.2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,20.0,0,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00

In [6]:
ssmm_organizers_info_upd = pd.read_csv('ssmm_organizers_info_upd.csv', sep='\t', encoding='utf-8')
ssmm_organizers_info_upd.head()

  year_x_year_stream                 organizer_name
0           2014_1.1          Денисов Илья Олегович
1           2014_1.1      Суркова Анастасия Юрьевна
2           2014_1.2  Глунчадзе Ираклий Вахтангович
3           2014_1.2      Суркова Анастасия Юрьевна
4           2014_1.3  Глунчадзе Ираклий Вахтангович

In [4]:
academic_group_stat = ssmm_candidates_x_votes_info_conv_1_11.groupby(['year_stream_no','academic_group_no']).agg({'conv_x_name':'count'}).reset_index().rename(columns={'conv_x_name':'application_cnt'}).sort_values(['application_cnt'],
              ascending = [False]).reset_index().drop(['index'], axis=1)
academic_group_stat[-30:]

# 107 раньше была в 1.2, теперь в 1.1
# 113 и 114 раньше не было

    year_stream_no  academic_group_no  application_cnt
80             5.2              512.0                2
81             5.2              507.0                2
82             5.1              505.0                2
83             6.2              608.0                2
84             3.3              326.0                2
85             6.4              632.0                2
86             4.2              412.0                2
87             3.5              341.0                2
88             3.3              325.0                2
89             1.3              123.0                2
90             3.2              307.0                2
91             2.2              209.0                2
92             2.2              210.0                2
93             5.4              533.0                1
94             6.3              623.0                1
95             1.1              107.0                1
96             1.2              114.0                1
97             6.2              610.0                1
98             6.1              606.0                1
99             6.1              602.0                1
100            5.1              504.0                1
101            2.5              241.0                1
102            5.1              503.0                1
103            5.3              525.0                1
104            3.2              312.0                1
105            3.4              333.0                1
106            5.2              510.0                1
107            4.4              432.0                1
108            4.4              433.0                1
109            5.3              526.0                1

In [5]:
year_stream_stat = ssmm_candidates_x_votes_info_conv_1_11.groupby(['year_stream_no']).agg({'conv_x_name':'count'}).reset_index().rename(columns={'conv_x_name':'application_cnt'}).sort_values(['application_cnt'],
              ascending = [False]).reset_index().drop(['index'], axis=1)
year_stream_stat[:60]

   year_stream_no  application_cnt
0             1.3               46
1             1.1               42
2             2.1               40
3             2.3               38
4             2.2               33
5             3.3               33
6             3.1               32
7             1.2               32
8             4.3               30
9             4.1               29
10            3.2               27
11            4.2               22
12            5.1               20
13            5.2               18
14            5.3               18
15             m1               14
16            3.4               12
17            4.4                7
18            5.4                7
19            6.3                6
20             m2                6
21            6.1                4
22            6.2                3
23            3.5                2
24            6.4                2
25            2.5                1

In [7]:
ssmm_organizers_info_final = ssmm_organizers_info_upd[ssmm_organizers_info_upd['organizer_name'] != None].groupby(['organizer_name']).agg({'year_x_year_stream':'count'}).reset_index().rename(columns={'year_x_year_stream':'elections_cnt'}).sort_values(['elections_cnt'],
              ascending = [False]).reset_index().drop(['index'], axis=1)
ssmm_organizers_info_final.head(20)

                        organizer_name  elections_cnt
0        Малиновский Георгий Андреевич             35
1           Сенотов Валерий Дмитриевич             20
2            Суркова Анастасия Юрьевна             16
3                Денисов Илья Олегович             14
4                Клюев Андрей Игоревич             13
5              Дехнич Кирилл Андреевич             11
6        Мельникова Дарья Владимировна             10
7              Нагорных Яна Валерьевна             10
8                Савин Павел Андреевич              9
9   Тонконогов Александр Владиславович              9
10       Глунчадзе Ираклий Вахтангович              8
11       Змиевский Леонид Вячеславович              8
12    Краснова Анастасия Александровна              7
13           Третьяков Пётр Максимович              6
14           Лобанова Алёна Валерьевна              5
15             Тюрина Татьяна Игоревна              5
16      Евдокимова Софья Александровна              5
17              Семенюк Павел Игоревич              4
18        Мазитова Вероника Рустэмовна              4
19          Провидухина Мария Игоревна              4

# MACHINE LEARNING (voter preferences by program flags)

In [ ]:
# ИДЕЯ:
#     составить таблицу из заявок только по потокам с конкуренцией и посмотреть по флагам программ, кого выбирают
# или:
#     составить таблицу из заявок только по потокам с >1 кандидатом и посмотреть по флагам программ, кто занимает первое место


# (вбрать потоки, где программы не идентичны по флагам)

In [123]:
ssmm_elections_candidates_1_11 = pd.read_csv('../library: main/ssmm_elections_candidates_1_11.csv', sep='\t', encoding='utf-8')
ssmm_elections_candidates_1_11.head(8)

,conv_x_name,name,convocation_no,year_stream_no,academic_group_no,program_txt,announcement_link,announcement_dttm,votes_cnt,elected_flg,result_link,result_dttm,appearance_dttm
0,1_Левин_Андрей,Левин Андрей,1,1.1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,48.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
1,1_Матвеев_Дмитрий_Александрович,Матвеев Дмитрий Александрович,1,1.1,101.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,49.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
2,1_Власов_Артем_Андреевич,Власов Артем Андреевич,1,1.2,107.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,36.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
3,1_Кириллова_Полина,Кириллова Полина,1,1.2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,40.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
4,1_Семенов_Павел,Семенов Павел,1,1.2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,20.0,0,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
5,1_Кузнецова_Алёна,Кузнецова Алёна,1,1.2,112.0,"""Меня очень интересует жизнь Университета. я б...",https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,28.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
6,1_Медведева_Яна_Григорьевна,Медведева Яна Григорьевна,1,1.3,121.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,23.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
7,1_Тишин_Павел_Владимирович,Тишин Павел Владимирович,1,1.3,122.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,51.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00

In [109]:
ssmm_elections_streams_1_11 = pd.read_csv('../library: main/ssmm_elections_streams_1_11.csv', sep='\t', encoding='utf-8')
ssmm_elections_streams_1_11.head()

,convocation_no,year_stream_no,year_no,stream_no,announcement_link,announcement_link_date,announcement_link_time,stream_size,voted_cnt,NOTA_cnt,invalid_cnt,result_link,result_link_date,result_link_time,quota,applications_cnt,elected_cnt
0,1,1.1,1.0,1.0,https://vk.com/topic-33327655_26089953,2012-02-26,0:16,139.0,68.0,6.0,NaN,https://vk.com/topic-33327655_26089953,2012-03-07,20:55,3,2,2
1,1,1.2,1.0,2.0,https://vk.com/topic-33327655_26089953,2012-02-26,0:16,138.0,60.0,2.0,NaN,https://vk.com/topic-33327655_26089953,2012-03-07,20:55,3,4,3
2,1,1.3,1.0,3.0,https://vk.com/topic-33327655_26089953,2012-02-26,0:16,115.0,73.0,5.0,NaN,https://vk.com/topic-33327655_26089953,2012-03-07,20:55,3,5,3
3,1,2.1,2.0,1.0,https://vk.com/topic-33327655_26089854,2012-02-25,23:49,133.0,91.0,5.0,NaN,https://vk.com/topic-33327655_26089854,2012-02-28,22:34,3,4,3
4,1,2.2,2.0,2.0,https://vk.com/topic-33327655_26089854,2012-02-25,23:49,111.0,60.0,3.0,NaN,https://vk.com/topic-33327655_26089854,2012-02-28,22:34,3,3,3

In [6]:
ssmm_programs_info_conv_1_11 = pd.read_csv('../library: main/ssmm_programs_info_conv_1_11.csv', sep='\t', encoding='utf-8')
ssmm_programs_info_conv_1_11.head()

,conv_x_name,program_txt,program_symbols_cnt,program_symbols_without_spaces_cnt,program_words_cnt,program_avg_word_length,cultmass_flg,education_flg,egoistic_flg,grants_flg,inform_flg,infrastructure_flg,partners_flg,rights_flg,sport_flg,university_level_flg,nothing_flg
0,1_Левин_Андрей,Активный участник и организатор различных меро...,138,122,17,7.176471,1,0,0,0,0,0,0,0,0,0,0
1,1_Кириллова_Полина,Мне нравится заниматься общественной деятельно...,2306,1981,322,6.152174,1,0,0,0,0,1,0,0,1,0,0
2,1_Семенов_Павел,"""Здравствуйте. Я так понимаю, что я уже поздно...",1175,1008,168,6.000000,0,0,0,0,0,1,0,1,0,0,0
3,1_Кузнецова_Алёна,"""Меня очень интересует жизнь Университета. я б...",339,295,45,6.555556,1,0,0,0,0,0,0,0,0,0,0
4,1_Кунденко_Вадим,""" Добрый день! Пару слов о себе. Путь к мехм...",971,822,147,5.591837,0,0,1,0,0,0,0,1,0,0,0

In [ ]:
'''
ФЛАГИ ДЛЯ АНАЛИТИКИ ssmm_elections_streams_1_11:
- добавить флаг превышения квоты по ТА
- добавить флаг наличия конкуренции на потоке
'''

In [115]:
# конкуренция на потоке

temp_df = ssmm_elections_streams_1_11[['convocation_no','year_stream_no','quota','applications_cnt','elected_cnt']]

competition_df = temp_df[temp_df['applications_cnt'] > temp_df['quota']].reset_index().drop(['index'],axis=1)
competition_df = competition_df.drop_duplicates().reset_index().drop(['index'],axis=1)
competition_df

    convocation_no year_stream_no  quota  applications_cnt  elected_cnt
0                1            1.2      3                 4            3
1                1            1.3      3                 5            3
2                1            2.1      3                 4            3
3                1            2.3      3                 4            3
4                1            4.1      3                 4            3
5                2            1.1      3                 4            3
6                2            2.3      3                 5            3
7                2            4.3      3                 5            4
8                3            1.2      3                 6            3
9                3            3.4      1                 2            1
10               3            4.1      3                 4            3
11               3            5.3      3                 4            4
12               3             m1      1                 2            2
13               4            1.1      3                 6            3
14               4            1.2      3                 4            3
15               4            1.3      3                 5            3
16               4            2.1      3                 7            3
17               4            3.1      3                 4            3
18               4            3.2      3                 4            3
19               5            1.1      3                 4            3
20               5            1.3      3                 6            3
21               5            2.2      3                 5            3
22               5            2.3      3                 4            3
23               5             m1      1                 3            1
24               6            1.2      3                 4            3
25               6            1.3      3                 5            3
26               6            2.2      3                 6            4
27               6            3.3      3                 6            5
28               6            4.1      3                 5            4
29               6            4.3      3                 4            3
30               6            5.1      3                 4            3
31               6            5.2      3                 4            3
32               7            1.1      3                 5            3
33               7            2.3      3                 4            4
34               7            3.1      3                 4            4
35               7            4.3      3                 4            3
36               8            1.2      3                 5            3
37               8            1.3      3                 5            3
38               8            2.1      3                 5            3
39               9            1.1      3                 4            4
40               9            1.3      3                 4            3
41               9            2.2      3                 4            3
42               9            2.3      3                 5            3
43               9            3.3      3                 4            3
44              10            1.1      3                 7            3
45              10            1.2      3                 4            3
46              10            1.3      3                 7            3
47              10            2.1      3                 6            3
48              10            2.3      3                 5            3
49              10            3.1      3                 4            3
50              10            3.2      3                 4            3
51              10            3.3      3                 4            3
52              10            4.1      3                 4            3
53              10            5.1      3                 4            3
54              11            3.5      1                 2            1

In [ ]:
competition_df.to_csv('ssmm_streams_with_competition.csv', sep='\t', encoding='utf-8', index=False)
# ssmm_organizers_info_upd.to_csv('../library: main/ssmm_organizers_1_11.csv', sep='\t', encoding='utf-8', index=False)

In [121]:
# нужны потоки с хотя бы одним неизбранным:

with_loser_df = temp_df[temp_df['applications_cnt'] > temp_df['elected_cnt']].reset_index().drop(['index'],axis=1)
with_loser_df = with_loser_df.drop_duplicates().reset_index().drop(['index'],axis=1)
with_loser_df

    convocation_no year_stream_no  quota  applications_cnt  elected_cnt
0                1            1.2      3                 4            3
1                1            1.3      3                 5            3
2                1            2.1      3                 4            3
3                1            2.3      3                 4            3
4                1            4.1      3                 4            3
5                2            1.1      3                 4            3
6                2            1.2      3                 1            0
7                2            2.3      3                 5            3
8                2            4.3      3                 5            4
9                3            1.2      3                 6            3
10               3            3.4      1                 2            1
11               3            4.1      3                 4            3
12               4            1.1      3                 6            3
13               4            1.2      3                 4            3
14               4            1.3      3                 5            3
15               4            2.1      3                 7            3
16               4            3.1      3                 4            3
17               4            3.2      3                 4            3
18               5            1.1      3                 4            3
19               5            1.3      3                 6            3
20               5            2.2      3                 5            3
21               5            2.3      3                 4            3
22               5             m1      1                 3            1
23               6            1.2      3                 4            3
24               6            1.3      3                 5            3
25               6            2.2      3                 6            4
26               6            3.3      3                 6            5
27               6            4.1      3                 5            4
28               6            4.3      3                 4            3
29               6            5.1      3                 4            3
30               6            5.2      3                 4            3
31               7            1.1      3                 5            3
32               7            4.3      3                 4            3
33               8            1.2      3                 5            3
34               8            1.3      3                 5            3
35               8            2.1      3                 5            3
36               9            1.3      3                 4            3
37               9            2.2      3                 4            3
38               9            2.3      3                 5            3
39               9            3.3      3                 4            3
40              10            1.1      3                 7            3
41              10            1.2      3                 4            3
42              10            1.3      3                 7            3
43              10            2.1      3                 6            3
44              10            2.3      3                 5            3
45              10            3.1      3                 4            3
46              10            3.2      3                 4            3
47              10            3.3      3                 4            3
48              10            4.1      3                 4            3
49              10            5.1      3                 4            3
50              11            3.5      1                 2            1

In [118]:
branches_list = list(ssmm_programs_info_conv_1_11)[-11:]
branches_list

['cultmass_flg',
 'education_flg',
 'egoistic_flg',
 'grants_flg',
 'inform_flg',
 'infrastructure_flg',
 'partners_flg',
 'rights_flg',
 'sport_flg',
 'university_level_flg',
 'nothing_flg']

In [124]:
# НЕКОРРЕКТНЫЙ ДЖОЙН, НЕ ВСЕ КАНДИДАТЫ ВНУТРИ ПОТОКА ПОДТЯНУЛИСЬ

competition_programs_1 = ssmm_programs_info_conv_1_11.merge(ssmm_elections_candidates_1_11, how='inner')
competition_programs_2 = competition_programs_1.merge(with_loser_df, how='inner')
competition_programs_2 = competition_programs_2[['conv_x_name','year_stream_no','elected_flg']+branches_list]
competition_programs_2.head(8)

,conv_x_name,year_stream_no,elected_flg,cultmass_flg,education_flg,egoistic_flg,grants_flg,inform_flg,infrastructure_flg,partners_flg,rights_flg,sport_flg,university_level_flg,nothing_flg
0,1_Кириллова_Полина,1.2,1,1,0,0,0,0,1,0,0,1,0,0
1,1_Семенов_Павел,1.2,0,0,0,0,0,0,1,0,1,0,0,0
2,1_Кузнецова_Алёна,1.2,1,1,0,0,0,0,0,0,0,0,0,0
3,1_Кунденко_Вадим,1.3,0,0,0,1,0,0,0,0,1,0,0,0
4,1_Сафина_Диана_Ураловна,1.3,1,1,0,1,0,1,1,0,0,0,0,0
5,1_Глухова_Алёна_Олеговна,2.3,1,0,0,0,0,0,0,0,0,0,0,1
6,1_Артамонова_Мария_Владимировна,4.1,1,0,0,0,0,0,0,0,0,0,0,1
7,2_Остроухова_Наталья_Владимировна,1.1,1,1,0,0,0,1,0,0,0,0,0,0

In [114]:
# Тен-Акушевич

TA_df = temp_df[temp_df['elected_cnt'] > temp_df['quota']].reset_index().drop(['index'],axis=1)
TA_df = TA_df.drop_duplicates().reset_index().drop(['index'],axis=1)
TA_df

   convocation_no year_stream_no  quota  applications_cnt  elected_cnt
0               2            4.3      3                 5            4
1               3            5.3      3                 4            4
2               3             m1      1                 2            2
3               6            2.2      3                 6            4
4               6            3.3      3                 6            5
5               6            4.1      3                 5            4
6               7            2.3      3                 4            4
7               7            3.1      3                 4            4
8               9            1.1      3                 4            4

In [107]:
# ssmm_elections_candidates_1_11[(ssmm_elections_candidates_1_11['convocation_no'] == 3) & (ssmm_elections_candidates_1_11['year_stream_no'] == 'm1')]

In [77]:
# temp_df = ssmm_elections_candidates_1_11.merge(full_df, how='outer')

# elected_df = temp_df.groupby(['convocation_no','year_stream_no']).apply(lambda x: x['votes_cnt'].nlargest(3, keep='all')).reset_index().rename(columns={'level_2':'index'})
# elected_df.head(11)