In [2]:
import pandas as pd

In [ ]:
'''
БАГ:
ТУТ year_no у МАГИСТРОВ m1,  а раньше был просто номер года
'''

In [30]:

candidates_conv_1_3 = pd.read_csv('ssmm_candidates_info_conv_1_3.csv', sep='\t', encoding='utf-8')
# candidates_conv_1_3['year_stream_no'] = candidates_conv_1_3[['year_no','stream_no']].apply(lambda x,y: year_stream_no_by_year_stream(x,y))
candidates_conv_1_3 = candidates_conv_1_3[['name','convocation_no','year_stream_no','year_no','stream_no','academic_group_no','program_txt','link']]
candidates_conv_1_3.head()

,name,convocation_no,year_stream_no,year_no,stream_no,academic_group_no,program_txt,link
0,Левин Андрей,1,1.1,1,1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953
1,Матвеев Дмитрий Александрович,1,1.1,1,1,101.0,NaN,https://vk.com/topic-33327655_26089953
2,Власов Артем Андреевич,1,1.2,1,2,107.0,NaN,https://vk.com/topic-33327655_26089953
3,Кириллова Полина,1,1.2,1,2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953
4,Семенов Павел,1,1.2,1,2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953

In [37]:
def conv_no_by_year(year):
    if year >= 2013:
        return year-2010
    else:
        return -1

candidates_conv_4_11 = pd.read_csv('ssmm_candidates_info_conv_4_11.csv', sep='\t', encoding='utf-8')
candidates_conv_4_11['convocation_no'] = candidates_conv_4_11['link_year_no'].apply(lambda x: conv_no_by_year(x))
candidates_conv_4_11 = candidates_conv_4_11[['name','convocation_no','year_stream_no','year_no','stream_no','academic_group_no','program_txt','link']]
candidates_conv_4_11.head()

,name,convocation_no,year_stream_no,year_no,stream_no,academic_group_no,program_txt,link
0,Суркова Анастасия Юрьевна,4,2.2,2,2,209.0,"«Подавая заявку в прошлом году в студсовет, яв...",https://vk.com/wall-33327655_2202
1,Денисов Илья Олегович,4,2.2,2,2,207.0,"«Вечер добрый, коллеги!\nЯ бы хотел подать зая...",https://vk.com/wall-33327655_2202
2,Тюрина Татьяна Игоревна,4,2.2,2,2,209.0,«Уже во второй раз избираюсь в студенческий со...,https://vk.com/wall-33327655_2202
3,Дорман Елена Вячеславовна,4,2.3,2,3,226.0,"«По моему мнению, за прошедший год я не плохо ...",https://vk.com/wall-33327655_2203
4,Оськин Александр Андреевич,4,2.3,2,3,225.0,«Прежде всего здравствуйте:)\nНа протяжении по...,https://vk.com/wall-33327655_2203

In [136]:
list_of_df = [candidates_conv_1_3,candidates_conv_4_11]
candidates_conv_1_11 = pd.concat(list_of_df).reset_index().drop(['index'], axis=1)
candidates_conv_1_11

,name,convocation_no,year_stream_no,year_no,stream_no,academic_group_no,program_txt,link
0,Левин Андрей,1,1.1,1,1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953
1,Матвеев Дмитрий Александрович,1,1.1,1,1,101.0,NaN,https://vk.com/topic-33327655_26089953
2,Власов Артем Андреевич,1,1.2,1,2,107.0,NaN,https://vk.com/topic-33327655_26089953
3,Кириллова Полина,1,1.2,1,2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953
4,Семенов Павел,1,1.2,1,2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953
...,...,...,...,...,...,...,...,...
516,Терехов Михаил Сергеевич,11,6.1,6,1,602.0,За правду!,https://vk.com/wall-33327655_9978
517,Поликарпов Александр Валерьевич,11,6.3,6,3,621.0,Был одним из основателей бегового клуба MSU RU...,https://vk.com/wall-33327655_9982
518,Каляев Тимур Джанбулатович,11,m1,1,0,NaN,"Всем привет! Я только недавно на мехмате, но х...",https://vk.com/wall-33327655_9983
519,Маммагаджиев Руслан Гаджимагомедович,11,m1,1,0,NaN,Долгое время был пикчером профкома мехмата. Се...,https://vk.com/wall-33327655_9983
520,Третьякова Екатерина Алексеевна,11,m1,1,0,NaN,Я как человек с немалым опытом в делах организ...,https://vk.com/wall-33327655_9983

In [133]:

def key_by_2_fields(f1, f2):
    return str(f1)+'_'+'_'.join(str(f2).split())

In [137]:
candidates_conv_1_11['conv_x_name'] = candidates_conv_1_11.apply(lambda x: key_by_2_fields(x['convocation_no'],x['name']), axis=1)
candidates_conv_1_11

,name,convocation_no,year_stream_no,year_no,stream_no,academic_group_no,program_txt,link,conv_x_name
0,Левин Андрей,1,1.1,1,1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953,1_Левин_Андрей
1,Матвеев Дмитрий Александрович,1,1.1,1,1,101.0,NaN,https://vk.com/topic-33327655_26089953,1_Матвеев_Дмитрий_Александрович
2,Власов Артем Андреевич,1,1.2,1,2,107.0,NaN,https://vk.com/topic-33327655_26089953,1_Власов_Артем_Андреевич
3,Кириллова Полина,1,1.2,1,2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953,1_Кириллова_Полина
4,Семенов Павел,1,1.2,1,2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953,1_Семенов_Павел
...,...,...,...,...,...,...,...,...,...
516,Терехов Михаил Сергеевич,11,6.1,6,1,602.0,За правду!,https://vk.com/wall-33327655_9978,11_Терехов_Михаил_Сергеевич
517,Поликарпов Александр Валерьевич,11,6.3,6,3,621.0,Был одним из основателей бегового клуба MSU RU...,https://vk.com/wall-33327655_9982,11_Поликарпов_Александр_Валерьевич
518,Каляев Тимур Джанбулатович,11,m1,1,0,NaN,"Всем привет! Я только недавно на мехмате, но х...",https://vk.com/wall-33327655_9983,11_Каляев_Тимур_Джанбулатович
519,Маммагаджиев Руслан Гаджимагомедович,11,m1,1,0,NaN,Долгое время был пикчером профкома мехмата. Се...,https://vk.com/wall-33327655_9983,11_Маммагаджиев_Руслан_Гаджимагомедович
520,Третьякова Екатерина Алексеевна,11,m1,1,0,NaN,Я как человек с немалым опытом в делах организ...,https://vk.com/wall-33327655_9983,11_Третьякова_Екатерина_Алексеевна

In [138]:
candidates_conv_1_11.to_csv('ssmm_candidates_info_conv_1_11.csv', sep='\t', encoding='utf-8', index=False)

# ПЕРВАЯ ГЛАВНАЯ ТАБЛИЦА

In [ ]:
# ssmm_results_conv_1 = pd.read_csv('ssmm_results_info_conv_1.csv', sep='\t', encoding='utf-8')
# ssmm_results_conv_4_11 = pd.read_csv('ssmm_results_info_conv_4_11.csv', sep='\t', encoding='utf-8')

# to fix VOTES tables for conv 1-3

In [94]:

ssmm_votes_conv_1 = pd.read_csv('ssmm_votes_info_conv_1.csv', sep='\t', encoding='utf-8')
ssmm_votes_conv_2 = pd.read_csv('ssmm_votes_info_conv_2.csv', sep='\t', encoding='utf-8')
ssmm_votes_conv_3 = pd.read_csv('ssmm_votes_info_conv_3.csv', sep='\t', encoding='utf-8')
ssmm_votes_conv_4_11 = pd.read_csv('ssmm_votes_info_conv_4_11.csv', sep='\t', encoding='utf-8')

In [89]:
ssmm_announcements_conv_1_3 = pd.read_csv('ssmm_announcement_info_conv_1_3.csv', sep='\t', encoding='utf-8')
ssmm_announcements_conv_1_3.head()

,name,convocation_no,year_stream_no,year_no,stream_no,academic_group_no,link,program_txt
0,Левин Андрей,1,1.1,1,1,101.0,https://vk.com/topic-33327655_26089953,Активный участник и организатор различных меро...
1,Матвеев Дмитрий Александрович,1,1.1,1,1,101.0,https://vk.com/topic-33327655_26089953,NaN
2,Власов Артем Андреевич,1,1.2,1,2,107.0,https://vk.com/topic-33327655_26089953,NaN
3,Кириллова Полина,1,1.2,1,2,112.0,https://vk.com/topic-33327655_26089953,Мне нравится заниматься общественной деятельно...
4,Семенов Павел,1,1.2,1,2,112.0,https://vk.com/topic-33327655_26089953,"""Здравствуйте. Я так понимаю, что я уже поздно..."

In [87]:
ssmm_votes_conv_1.head()

temp_df = ssmm_votes_conv_1

temp_df = temp_df[['convocation_no', 'name', 'year_stream_no', 'votes_cnt', 'elected_flg']] # , 'link'
temp_votes_conv_1 = temp_df

temp_votes_conv_1.head()

,convocation_no,name,year_stream_no,votes_cnt,elected_flg
0,1,Матвеев Дмитрий Александрович,1.1,49,1.0
1,1,Левин Андрей,1.1,48,1.0
2,1,Кириллова Полина,1.2,40,1.0
3,1,Власов Артем Андреевич,1.2,36,1.0
4,1,Кузнецова Алёна,1.2,28,1.0

In [116]:

def full_name_by_short_name1(short_name):
#     ЗАВИСИТ ОТ ВНЕШНЕЙ ТАБЛИЦЫ candidates_conv_1_11
    names_conv3 = list(candidates_conv_1_11['name'][candidates_conv_1_11['convocation_no']==1])
    for full_name in names_conv3:
        if short_name in full_name:
            return full_name

temp_df = temp_votes_conv_1
temp_df['full_name'] = temp_df['name'].apply(lambda x: full_name_by_short_name1(x))
temp_df['max_name'] = temp_df['full_name'].combine_first(temp_df['name'])
temp_df = temp_df.drop(['full_name','name'],axis=1).rename(columns={'max_name':'name'})
# temp_df[:20]

temp_votes_conv_1_upd = temp_df
temp_votes_conv_1_upd

,convocation_no,year_stream_no,votes_cnt,elected_flg,name
0,1,1.1,49,1.0,Матвеев Дмитрий Александрович
1,1,1.1,48,1.0,Левин Андрей
2,1,1.2,40,1.0,Кириллова Полина
3,1,1.2,36,1.0,Власов Артем Андреевич
4,1,1.2,28,1.0,Кузнецова Алёна
5,1,1.2,20,0.0,Семенов Павел
6,1,1.3,51,1.0,Тишин Павел Владимирович
7,1,1.3,44,1.0,Сафина Диана Ураловна
8,1,1.3,23,1.0,Медведева Яна Григорьевна
9,1,1.3,21,0.0,Кунденко Вадим
10,1,1.3,17,0.0,Скобенникова Юлия
11,1,2.1,58,1.0,Шариков Алексей Анатольевич
12,1,2.1,54,1.0,Матвеев Алексей Викторович
13,1,2.1,26,1.0,Гильманов Роман Павлович
14,1,2.1,23,0.0,Валиев Зураб Владимирович
15,1,2.2,23,1.0,Костицын Александр Алексеевич
16,1,2.2,22,1.0,Осин Руслан Владимирович
17,1,2.2,20,1.0,Асташов Дмитрий Сергеевич
18,1,2.3,39,1.0,Глухова Алёна Олеговна
19,1,2.3,35,1.0,Харлашин Владимир Сергеевич
20,1,2.3,32,1.0,Аканаев Тимур Рашитович
21,1,2.3,18,0.0,Оджаев Рахмет Курбандурдыевич
22,1,3.1,43,1.0,Попов Леонид Андреевич
23,1,3.1,38,1.0,Владыкина Вероника Евгеньевна
24,1,3.2,45,1.0,Коновалов Антон Александрович
25,1,3.2,27,1.0,Малхасян Арамаис
26,1,3.2,20,1.0,Тропин Александр Михайлович
27,1,3.3,26,1.0,Ласкин Алексей Александрович
28,1,3.3,16,1.0,Сапунов Кирилл Вячеславович
29,1,3.3,16,1.0,Самонов Алексей Александрович
30,1,4.1,49,1.0,Цылин Иван Вячеславович
31,1,4.1,41,1.0,Абдуллаева Эмилия Табриз кызы
32,1,4.1,35,1.0,Артамонова Мария Владимировна
33,1,4.1,19,0.0,Ульмаскулов Рамиль
34,1,4.2,42,1.0,Савелов Максим Павлович
35,1,4.2,31,1.0,Удимов Даниил Алексеевич
36,1,4.2,24,1.0,Котляров Никита Владимирович
37,1,4.3,29,1.0,Чернодед Антон Игоревич
38,1,4.3,31,1.0,Громов Иван Михайлович
39,1,4.4,20,1.0,Федорова Елена Игоревна

In [82]:
ssmm_votes_conv_2.head()

temp_df = ssmm_votes_conv_2

temp_df['votes_cnt'] = temp_df.apply(lambda x: None)
temp_df = temp_df[['convocation_no', 'name', 'year_stream_no', 'votes_cnt', 'elected_flg']] # , 'link'
temp_votes_conv_2 = temp_df

temp_votes_conv_2.head()

,convocation_no,name,year_stream_no,votes_cnt,elected_flg
0,2,Остроухова Наталья Владимировна,1.1,NaN,1
1,2,Габидов Александр Сергеевич,1.1,NaN,1
2,2,Дяченко Мария Игоревна,1.1,NaN,1
3,2,Ватутин Кирилл Александрович,1.3,NaN,1
4,2,Никифоров Сергей Игоревич,1.3,NaN,1

In [97]:
# ssmm_votes_conv_3.head()

temp_df = ssmm_votes_conv_3

temp_df['votes_cnt'] = temp_df.apply(lambda x: None)
temp_df = temp_df[['convocation_no', 'name', 'year_stream_no', 'votes_cnt', 'elected_flg']] # , 'link'
temp_votes_conv_3 = temp_df

temp_votes_conv_3.head()

   convocation_no       name year_stream_no votes_cnt  elected_flg
0               3  Алекберов            1.1       NaN            1
1               3     Бурнус            1.1       NaN            1
2               3    Денисов            1.2       NaN            1
3               3    Суркова            1.2       NaN            1
4               3     Тюрина            1.2       NaN            1

In [104]:

def full_name_by_short_name3(short_name):
#     ЗАВИСИТ ОТ ВНЕШНЕЙ ТАБЛИЦЫ candidates_conv_1_11
    names_conv3 = list(candidates_conv_1_11['name'][candidates_conv_1_11['convocation_no']==3])
    for full_name in names_conv3:
        if short_name in full_name:
            return full_name

temp_votes_conv_3_upd = temp_votes_conv_3
temp_votes_conv_3_upd['full_name'] = temp_votes_conv_3_upd['name'].apply(lambda x: full_name_by_short_name3(x))
temp_votes_conv_3_upd['max_name'] = temp_votes_conv_3_upd['full_name'].combine_first(temp_votes_conv_3_upd['name'])
temp_votes_conv_3_upd = temp_votes_conv_3_upd[['convocation_no', 'max_name', 'year_stream_no', 'votes_cnt', 'elected_flg']].rename(columns={'max_name':'name'})
temp_votes_conv_3_upd

,convocation_no,name,year_stream_no,votes_cnt,elected_flg
0,3,Алекберов,1.1,NaN,1
1,3,Бурнус Артём Владимирович,1.1,NaN,1
2,3,Денисов Илья Олегович,1.2,NaN,1
3,3,Суркова Анастасия Юрьевна,1.2,NaN,1
4,3,Тюрина Татьяна Игоревна,1.2,NaN,1
5,3,Ариас-Альварес Владимир Владимирович,1.3,NaN,1
6,3,Григорьев Иван Сергеевич,1.3,NaN,1
7,3,Дорман Елена Вячеславовна,1.3,NaN,1
8,3,Дяченко Мария Игоревна,2.1,NaN,1
9,3,Локтионов Фёдор Михайлович,2.1,NaN,1
10,3,Остроухова Наталья Владимировна,2.1,NaN,1
11,3,Глунчадзе Ираклий Вахтангович,2.2,NaN,1
12,3,Ватутин Кирилл Александрович,2.3,NaN,1
13,3,Савченко Анастасия Игоревна,2.3,NaN,1
14,3,Андреев Максим Александрович,3.1,NaN,1
15,3,Матвеев Дмитрий Александрович,3.1,NaN,1
16,3,Борисов Василий Александрович,3.2,NaN,1
17,3,Бунеев Артём Валерьевич,3.2,NaN,1
18,3,Хамматова Гульназ Марселевна,3.2,NaN,1
19,3,Быстрицкая Василина Васильевна,3.3,NaN,1
20,3,Медведева Яна Григорьевна,3.3,NaN,1
21,3,Хасанов Рафаэль Ильгизович,3.4,NaN,1
22,3,Куркотов Вадим Александрович,4.1,NaN,1
23,3,Матвеев Дмитрий Александрович,4.1,NaN,1
24,3,Осин Руслан Владимирович,4.1,NaN,1
25,3,Антонов Сергей Валентинович,4.2,NaN,1
26,3,Митькина Мария Александровна,4.2,NaN,1
27,3,Ольшевская Полина Игоревна,4.3,NaN,1
28,3,Садрисламов Алмаз Уралович,4.3,NaN,1
29,3,Селиверстова Елизавета Павловна,4.3,NaN,1
30,3,Шариков Алексей Анатольевич,4.4,NaN,1
31,3,Антонова Ольга Юрьевна,5.1,NaN,1
32,3,Владыкина Вероника Евгеньевна,5.1,NaN,1
33,3,Попов Леонид Андреевич,5.1,NaN,1
34,3,Сергеева Элина Александровна,5.2,NaN,1
35,3,Ласкин Алексей Александрович,5.3,NaN,1
36,3,Сапунов Кирилл Вячеславович,5.3,NaN,1
37,3,Самонов Алексей Александрович,5.3,NaN,1
38,3,Тен Анна Бенхиевна,5.3,NaN,1
39,3,Буряк Анна Андреевна,m1,NaN,1
40,3,Короткин Виталий Владимирович,m1,NaN,1
41,3,Морозов Сергей Сергеевич,m2,NaN,1

In [126]:
list_of_df = [temp_votes_conv_1_upd,temp_votes_conv_2,temp_votes_conv_3_upd]
temp_votes_conv_1_3 = pd.concat(list_of_df).reset_index().drop(['index'], axis=1)
temp_votes_conv_1_3 = temp_votes_conv_1_3[['convocation_no', 'name', 'year_stream_no', 'votes_cnt', 'elected_flg']]
temp_votes_conv_1_3['link'] = temp_votes_conv_1_3.apply(lambda x: None)
final_votes_conv_1_3 = temp_votes_conv_1_3
final_votes_conv_1_3

,convocation_no,name,year_stream_no,votes_cnt,elected_flg,link
0,1,Матвеев Дмитрий Александрович,1.1,49,1.0,NaN
1,1,Левин Андрей,1.1,48,1.0,NaN
2,1,Кириллова Полина,1.2,40,1.0,NaN
3,1,Власов Артем Андреевич,1.2,36,1.0,NaN
4,1,Кузнецова Алёна,1.2,28,1.0,NaN
...,...,...,...,...,...,...
112,3,Самонов Алексей Александрович,5.3,NaN,1.0,NaN
113,3,Тен Анна Бенхиевна,5.3,NaN,1.0,NaN
114,3,Буряк Анна Андреевна,m1,NaN,1.0,NaN
115,3,Короткин Виталий Владимирович,m1,NaN,1.0,NaN
116,3,Морозов Сергей Сергеевич,m2,NaN,1.0,NaN

In [80]:
# reorder

temp_df = ssmm_votes_conv_4_11

temp_df['convocation_no'] = temp_df['link_year_no'].apply(lambda x: conv_no_by_year(x))
temp_df = temp_df[['convocation_no', 'name', 'year_stream_no', 'votes_cnt', 'elected_flg', 'link']]
final_votes_conv_4_11 = temp_df

final_votes_conv_4_11.head()

,convocation_no,name,year_stream_no,votes_cnt,elected_flg,link
0,4,Суркова Анастасия Юрьевна,2.2,53,1,https://vk.com/wall-33327655_2215
1,4,Денисов Илья Олегович,2.2,61,1,https://vk.com/wall-33327655_2215
2,4,Тюрина Татьяна Игоревна,2.2,48,1,https://vk.com/wall-33327655_2215
3,4,Дорман Елена Вячеславовна,2.3,71,1,https://vk.com/wall-33327655_2216
4,4,Оськин Александр Андреевич,2.3,45,1,https://vk.com/wall-33327655_2216

In [128]:
list_of_df = [final_votes_conv_1_3,final_votes_conv_4_11]
final_votes_conv_1_11 = pd.concat(list_of_df).reset_index().drop(['index'], axis=1)

final_votes_conv_1_11['conv_x_name'] = final_votes_conv_1_11.apply(lambda x: key_by_2_fields(x['convocation_no'],x['name']), axis=1)
final_votes_conv_1_11

,convocation_no,name,year_stream_no,votes_cnt,elected_flg,link,conv_x_name
0,1,Матвеев Дмитрий Александрович,1.1,49,1.0,NaN,1_Матвеев_Дмитрий_Александрович
1,1,Левин Андрей,1.1,48,1.0,NaN,1_Левин_Андрей
2,1,Кириллова Полина,1.2,40,1.0,NaN,1_Кириллова_Полина
3,1,Власов Артем Андреевич,1.2,36,1.0,NaN,1_Власов_Артем_Андреевич
4,1,Кузнецова Алёна,1.2,28,1.0,NaN,1_Кузнецова_Алёна
...,...,...,...,...,...,...,...
501,11,Маммагаджиев Руслан Гаджимагомедович,m1,10,1.0,https://vk.com/wall-33327655_10018,11_Маммагаджиев_Руслан_Гаджимагомедович
502,11,Третьякова Екатерина Алексеевна,m1,19,1.0,https://vk.com/wall-33327655_10018,11_Третьякова_Екатерина_Алексеевна
503,11,Мазитова Вероника Рустэмовна,6.1,27,1.0,https://vk.com/wall-33327655_10026,11_Мазитова_Вероника_Рустэмовна
504,11,Терехов Михаил Сергеевич,6.1,16,1.0,https://vk.com/wall-33327655_10026,11_Терехов_Михаил_Сергеевич
505,11,Поликарпов Александр Валерьевич,6.3,43,1.0,https://vk.com/wall-33327655_10031,11_Поликарпов_Александр_Валерьевич

In [130]:
final_votes_conv_1_11.to_csv('ssmm_votes_info_conv_1_11.csv', sep='\t', encoding='utf-8', index=False)

# ВТОРАЯ ГЛАВНАЯ ТАБЛИЦА

# ОСНОВНЫЕ ТАБЛИЦЫ ПО КАНДИДАТАМ

In [139]:
ssmm_candidates_info_conv_1_11 = pd.read_csv('ssmm_candidates_info_conv_1_11.csv', sep='\t', encoding='utf-8')
ssmm_candidates_info_conv_1_11

,name,convocation_no,year_stream_no,year_no,stream_no,academic_group_no,program_txt,link,conv_x_name
0,Левин Андрей,1,1.1,1,1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953,1_Левин_Андрей
1,Матвеев Дмитрий Александрович,1,1.1,1,1,101.0,NaN,https://vk.com/topic-33327655_26089953,1_Матвеев_Дмитрий_Александрович
2,Власов Артем Андреевич,1,1.2,1,2,107.0,NaN,https://vk.com/topic-33327655_26089953,1_Власов_Артем_Андреевич
3,Кириллова Полина,1,1.2,1,2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953,1_Кириллова_Полина
4,Семенов Павел,1,1.2,1,2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953,1_Семенов_Павел
...,...,...,...,...,...,...,...,...,...
516,Терехов Михаил Сергеевич,11,6.1,6,1,602.0,За правду!,https://vk.com/wall-33327655_9978,11_Терехов_Михаил_Сергеевич
517,Поликарпов Александр Валерьевич,11,6.3,6,3,621.0,Был одним из основателей бегового клуба MSU RU...,https://vk.com/wall-33327655_9982,11_Поликарпов_Александр_Валерьевич
518,Каляев Тимур Джанбулатович,11,m1,1,0,NaN,"Всем привет! Я только недавно на мехмате, но х...",https://vk.com/wall-33327655_9983,11_Каляев_Тимур_Джанбулатович
519,Маммагаджиев Руслан Гаджимагомедович,11,m1,1,0,NaN,Долгое время был пикчером профкома мехмата. Се...,https://vk.com/wall-33327655_9983,11_Маммагаджиев_Руслан_Гаджимагомедович
520,Третьякова Екатерина Алексеевна,11,m1,1,0,NaN,Я как человек с немалым опытом в делах организ...,https://vk.com/wall-33327655_9983,11_Третьякова_Екатерина_Алексеевна

In [131]:
ssmm_votes_info_conv_1_11 = pd.read_csv('ssmm_votes_info_conv_1_11.csv', sep='\t', encoding='utf-8')
ssmm_votes_info_conv_1_11

,convocation_no,name,year_stream_no,votes_cnt,elected_flg,link,conv_x_name
0,1,Матвеев Дмитрий Александрович,1.1,49.0,1.0,NaN,1_Матвеев_Дмитрий_Александрович
1,1,Левин Андрей,1.1,48.0,1.0,NaN,1_Левин_Андрей
2,1,Кириллова Полина,1.2,40.0,1.0,NaN,1_Кириллова_Полина
3,1,Власов Артем Андреевич,1.2,36.0,1.0,NaN,1_Власов_Артем_Андреевич
4,1,Кузнецова Алёна,1.2,28.0,1.0,NaN,1_Кузнецова_Алёна
...,...,...,...,...,...,...,...
501,11,Маммагаджиев Руслан Гаджимагомедович,m1,10.0,1.0,https://vk.com/wall-33327655_10018,11_Маммагаджиев_Руслан_Гаджимагомедович
502,11,Третьякова Екатерина Алексеевна,m1,19.0,1.0,https://vk.com/wall-33327655_10018,11_Третьякова_Екатерина_Алексеевна
503,11,Мазитова Вероника Рустэмовна,6.1,27.0,1.0,https://vk.com/wall-33327655_10026,11_Мазитова_Вероника_Рустэмовна
504,11,Терехов Михаил Сергеевич,6.1,16.0,1.0,https://vk.com/wall-33327655_10026,11_Терехов_Михаил_Сергеевич
505,11,Поликарпов Александр Валерьевич,6.3,43.0,1.0,https://vk.com/wall-33327655_10031,11_Поликарпов_Александр_Валерьевич

In [140]:
df1 = ssmm_candidates_info_conv_1_11[['conv_x_name','name']]
df2 = ssmm_votes_info_conv_1_11[['conv_x_name','name']]

df1_x_d2 = df1.merge(df2, left_on='conv_x_name', right_on='conv_x_name',how='outer')
df1_x_d2_nan = df1_x_d2[df1_x_d2.isna().any(axis=1)]
df1_x_d2_nan

,conv_x_name,name_x,name_y
39,1_Хисматуллина_Марина_Рашитовна,Хисматуллина Марина Рашитовна,NaN
40,1_Штейников_Юрий_Николаевич,Штейников Юрий Николаевич,NaN
41,1_Савушкин_Никита_Максимович,Савушкин Никита Максимович,NaN
42,1_Миценко_Вадим_Валериевич,Миценко Вадим Валериевич,NaN
43,1_Буряк_Анна_Андреевна,Буряк Анна Андреевна,NaN
44,1_Дубровин_Григорий_Анатольевич,Дубровин Григорий Анатольевич,NaN
46,2_Николаева_Наталия_Михайловна,Николаева Наталия Михайловна,NaN
49,2_Ванунц_Арсений_Ашотович,Ванунц Арсений Ашотович,NaN
56,2_Медведева_Яна_Григорьевна,Медведева Яна Григорьевна,NaN
60,2_Сафина_Диана_Ураловна,Сафина Диана Ураловна,NaN
74,2_Ласкин_Алексей_Александрович,Ласкин Алексей Александрович,NaN
89,3_Корно_Дмитрий_Сергеевич,Корно Дмитрий Сергеевич,NaN
90,3_Изимова_Анна_Мирбулатовна,Изимова Анна Мирбулатовна,NaN
91,3_Чистяков_Михаил_Сергеевич,Чистяков Михаил Сергеевич,NaN
110,3_Заболотский_Леонид_Дмитриевич,Заболотский Леонид Дмитриевич,NaN
111,3_Скопинцев_Алексей_Владимирович,Скопинцев Алексей Владимирович,NaN
114,3_Матвеев_Алексей_Викторович,Матвеев Алексей Викторович,NaN
263,6_Думаревский_Александр_Дмитриевич,Думаревский Александр Дмитриевич,NaN
397,9_Воронин_Вадим_Юрьевич,Воронин Вадим Юрьевич,NaN
522,1_Федорова_Елена_Игоревна,NaN,Федорова Елена Игоревна
523,3_Алекберов,NaN,Алекберов
524,4_Вергазов_Марат_Марсович,NaN,Вергазов Марат Марсович

In [ ]:
# СОСТАВИТЬ СПИСОК ИМЕН (ИЗ КАНДИДАТОВ И (трех) РЕЗУЛЬТАТОВ)

In [143]:
list_of_df = [ssmm_candidates_info_conv_1_11[['name']],ssmm_votes_info_conv_1_11[['name']]]
ssmm_full_candidates_df = pd.concat(list_of_df).reset_index().drop(['index'], axis=1)

ssmm_full_candidates_df = ssmm_full_candidates_df.drop_duplicates().reset_index().drop(['index'], axis=1)
ssmm_full_candidates_df

# А ТЕПЕРЬ УПОРЯДОЧИТЬ ПО ПУБЛИКАЦИИ

                                     name
0                            Левин Андрей
1           Матвеев Дмитрий Александрович
2                  Власов Артем Андреевич
3                        Кириллова Полина
4                           Семенов Павел
..                                    ...
315            Каляев Тимур Джанбулатович
316  Маммагаджиев Руслан Гаджимагомедович
317       Третьякова Екатерина Алексеевна
318                             Алекберов
319               Вергазов Марат Марсович

[320 rows x 1 columns]

In [15]:
def levenshtein(s1, s2):
    if len(s1) < len(s2):
        return levenshtein(s2, s1)

    # len(s1) >= len(s2)
    if len(s2) == 0:
        return len(s1)

    previous_row = range(len(s2) + 1)
    for i, c1 in enumerate(s1):
        current_row = [i + 1]
        for j, c2 in enumerate(s2):
            insertions = previous_row[j + 1] + 1 # j+1 instead of j since previous_row and current_row are one character longer
            deletions = current_row[j] + 1       # than s2
            substitutions = previous_row[j] + (c1 != c2)
            current_row.append(min(insertions, deletions, substitutions))
        previous_row = current_row
    
    return previous_row[-1]

string1 = "abc"
string2 = "aef"

print(levenshtein(string1, string2))

2

In [119]:
names = list(candidates_conv_1_11_upd['name']) + list(temp_votes_conv_1_3['name']) + list(final_votes_conv_4_11['name'])

from collections import Counter

names_stat = Counter(names) #.most_common()
# names_stat

# names_uniq = list(set(names))
# names_uniq

In [120]:
# выявляем похожие имена, чтобы потом заменить РУКАМИ

for a in names_stat.keys():
    for b in names_stat.keys():
        if a != b and levenshtein(a, b) <= 4 and names_stat[a] >= names_stat[b]:
            print(levenshtein(a, b), ' - ', a, names_stat[a], ' : ', names_stat[b], b)

In [121]:
# выявляем имена без отчества, чтобы потом заменить РУКАМИ

for a in names_stat.keys():
    for b in names_stat.keys():
        if len(a) > len(b) and levenshtein(a[:len(b)], b) <= 4:
            print(a, names_stat[a], ' : ', names_stat[b], b)

Семенюк Павел Игоревич 4  :  2 Семенов Павел
Белан Андрей Владимирович 2  :  2 Левин Андрей

In [42]:
# выявляем имена с перепутанными отчествами, чтобы потом заменить РУКАМИ

for a in names_stat.keys():
    for b in names_stat.keys():
        if a != b and levenshtein(a[:12], b[:12]) <= 2 and names_stat[a] >= names_stat[b]:
            print(a, names_stat[a], ' : ', names_stat[b], b)

# Сакаев Роберт Марселевич 5  :  1 Сакаев Роберт Викторович

Коновалов Антон Александрович 2  :  1 Коновалов Дмитрий Игоревич
Семенюк Павел Игоревич 2  :  1 Семенов Павел
Порфирьева Наталия Алексеевна 1  :  1 Перфильева Нелли Андреевна
Федотов Константин Алексеевич 1  :  1 Фёдоров Константин Дмитриевич
Алиев Рамиль Камиль Оглы 1  :  1 Алеев Дамиль Павлович
Перфильева Нелли Андреевна 1  :  1 Порфирьева Наталия Алексеевна
Фёдоров Константин Дмитриевич 1  :  1 Федотов Константин Алексеевич
Третьяков Пётр Максимович 3  :  2 Третьяков Артём Алексеевич
Саметов Максим Алексеевич 2  :  1 Савелов Максим Павлович
Лобанова Алёна Валерьевна 3  :  1 Лобанова Анастасия Алексеевна
Алеев Дамиль Павлович 1  :  1 Алиев Рамиль Камиль Оглы